{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Brand "{{ brand.title }}"{% endblock %}</title>
</head>
<body>

    {% block content_title %}Brand "{{ brand.title }}"{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-6">
                 <form id="add-brand-form" method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">
                        <div class="panel-heading">
                           <div class="panel-title">Edit Brand</div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label">Title *</label>
                                <input value="{{ brand.title }}" type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                            </div>

                            <input type="hidden" value="{{ brand.id }}" name="brand_id">

                            <div class="required">* Required fields</div>

                        </div>
                        <div class="panel-footer">
                           <div class="clearfix">
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- END panel-->
                 </form>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6">
                 <div class="panel panel-default">

                     <div class="panel-heading">
                        <div class="panel-title">Ranges</div>
                     </div>

                     <div class="panel-body">
                         <div class="table-responsive">
                           <table id="ranges-datatable" class="table table-striped">
                              <thead>
                                 <tr>
                                     <th style="width:80%">Title</th>
                                     <th style="width:20%"></th>
                                 </tr>
                              </thead>
                              <tbody></tbody>
                           </table>
                        </div>
                     </div>

                 </div>
            </div>

            <div class="col-lg-6">
                 <div class="panel panel-default">

                     <div class="panel-heading">
                        <div class="panel-title">SKUs</div>
                     </div>

                     <div class="panel-body">
                         <div class="table-responsive">
                           <table id="skus-datatable" class="table table-striped">
                              <thead>
                                 <tr>
                                     <th style="width:30%">Title</th>
                                     <th style="width:25%">Range</th>
                                     <th style="width:17%">SKU num</th>
                                     <th style="width:20%">Vintage num</th>
                                     <th style="width:10%"></th>
                                 </tr>
                              </thead>
                              <tbody></tbody>
                           </table>
                        </div>
                     </div>

                 </div>
            </div>


        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>

            $('#add-brand-form').submit(function(e){
                e.preventDefault();

                if (!$('#add-brand-form').parsley().isValid()){
                    return ;
                }

                var $form = $(this);
                var data = $form.serialize();
                $.post('/brand/add/save/', data, function (response) {

                    if (response.success) {

                        // show up any successful notification here
                        notifyShow("Brand has been successfully updated!");

                    } else {

                        bootbox.dialog({
                            className: 'error',
                            message: response.errors,
                            title: "Error",
                            buttons: {
                                Ok: {
                                    label: "Ok",
                                    className: "btn-primary",
                                    callback: function() {
                                        bootbox.hideAll();
                                    }
                                }
                            }
                        });

                    }
                })

            });

            $('#ranges-datatable').dataTable({
{#                responsive: true,#}
{#                'paging':   true,  // Table pagination#}
                'ordering': true,  // Column ordering
{#                'info':     true,  // Bottom left status text#}
                "bLengthChange": false,
                "bPaginate": false,
                "bInfo":false,
                "iDisplayLength": -1,
                "bFilter":  false,
                sAjaxSource: '/range/list/table/?brand_id=' + {{ brand.id }},
                aoColumns: [
                  { mData: 'title' },
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var range_id = aData['id'];
                    var $range_id_td = $(nRow).find('td:eq(1)');

                    // Range delete section

                    var range_id_td_str = '';

                    range_id_td_str += '<a href="/range/list/' + range_id + '/" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>';
                    range_id_td_str += '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="range_delete(' + range_id + ', this)"></em>';

                    $range_id_td.html(range_id_td_str);

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                  }
            });

            $('#skus-datatable').dataTable({
                responsive: true,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                "iDisplayLength": 25,
                "bLengthChange": false,
                sAjaxSource: '/sku/list/table/?brand_id=' + {{ brand.id }},
                aoColumns: [
                  { mData: 'title' },
                  { mData: 'range' },
                  { mData: 'sku_num' },
                  { mData: 'vintage_num' },
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var sku_id = aData['id'];
                    var $sku_id_td = $(nRow).find('td:eq(4)');

                    // SKU delete section

                    var sku_id_td_str = '';

                    sku_id_td_str += '<a href="/sku/list/' + sku_id + '/" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>';
                    sku_id_td_str += '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="sku_delete(' + sku_id + ', this)"></em>';

                    $sku_id_td.html(sku_id_td_str);

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                }
            });

            function range_delete(range_id, self){

                bootbox.dialog({
                  message: "Range will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/range/delete/', {'range_id': range_id}, function(response){

                            if ($(self) != undefined){

                                var $user_table = $('#ranges-datatable').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $user_table.fnDeleteRow($user_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }


            function sku_delete(sku_id, self){

                bootbox.dialog({
                  message: "SKU will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/sku/delete/', {'sku_id': sku_id}, function(response){

                            if ($(self) != undefined){

                                var $user_table = $('#skus-datatable').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $user_table.fnDeleteRow($user_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }


        </script>

    {% endblock %}

</body>
</html>