{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Add User{% endblock %}</title>
</head>
<body>

    {% block content_title %}Add new User{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-6">
                 <form id="add-user-form" method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                           <div class="panel-title">Form Register</div>#}
{#                        </div>#}
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label">Email Address *</label>
                                <input type="text" name="email" required="" class="form-control" data-parsley-type="email" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">First Name *</label>
                                <input type="text" name="first_name" required="" class="form-control" data-parsley-id="1420"><ul class="parsley-errors-list" id="parsley-id-1420"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Surname *</label>
                                <input type="text" name="surname" required="" class="form-control" data-parsley-id="1421"><ul class="parsley-errors-list" id="parsley-id-1421"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Phone Number</label>
                                <input type="text" name="phone" class="form-control" data-parsley-type="digits" data-parsley-id="1422"><ul class="parsley-errors-list" id="parsley-id-1422"></ul>
                            </div>

{#                            <div class="form-group">#}
{#                                <label class="control-label">Date of Birth</label>#}
{##}
{#                                <div id="datetimepicker1" class="input-group date">#}
{#                                    <input type="text" class="form-control" name="date_of_birth">#}
{#                                    <span class="input-group-addon">#}
{#                                        <span class="fa fa-calendar"></span>#}
{#                                    </span>#}
{#                                </div>#}
{##}
{#                            </div>#}

                            <div class="form-group input-md ">

                                <label class="control-label">User Type:</label>

                                <select class="input-md form-control chosen user-type-select" name="role">

                                    {% for user_type in user_types %}
                                        <option value="{{ user_type.0 }}">{{ user_type.1 }}</option>
                                    {% endfor %}

                                </select>

                             </div>

                            <div class="distributors-countries-and-states-container">
                                 <div class="form-group input-md ">

                                    <label class="control-label">Distributor:</label>

                                    <select class="input-md form-control chosen" name="distributor" id="user-distributor-select">

                                        {% for distributor in distributors %}
                                            <option value="{{ distributor.id }}">{{ distributor.title }}</option>
                                        {% endfor %}

                                    </select>

                                 </div>

                                <div id="countries-and-states-container">

                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label">Password *</label>
                                <input id="id-password" type="password" name="password" data-parsley-minlength="6" required="" class="form-control" data-parsley-id="3297"><ul class="parsley-errors-list" id="parsley-id-3297"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Confirm Password *</label>
                                <input type="password" name="confirmPassword" data-parsley-minlength="6" required="" data-parsley-equalto="#id-password" class="form-control" data-parsley-id="1279"><ul class="parsley-errors-list" id="parsley-id-1279"></ul>
                            </div>

                            <div class="required">* Required fields</div>

                        </div>
                        <div class="panel-footer">
                           <div class="clearfix">
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary">Register</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- END panel-->
                 </form>
            </div>

        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>
            // DATETIMEPICKER
            // -----------------------------------
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY',
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-chevron-up',
                    down: 'fa fa-chevron-down',
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                    today: 'fa fa-crosshairs',
                    clear: 'fa fa-trash'
                }
            });

            $('#add-user-form').submit(function(e){
                e.preventDefault();

                if (!$('#add-user-form').parsley().isValid()){
                    return ;
                }

                var $form = $(this);
                var data = $form.serialize();
                $.post('/user/add/save/', data, function (response) {

                    if (response.success) {

                        // reset form after successful save

                        $form[0].reset();
                        $('.chosen').trigger('chosen:updated');

                        // show up any successful notification here
                        notifyShow("User has been successfully created!");

                    } else {

                        bootbox.dialog({
                            className: 'error',
                            message: response.errors,
                            title: "Error",
                            buttons: {
                                Ok: {
                                    label: "Ok",
                                    className: "btn-primary",
                                    callback: function() {
                                        bootbox.hideAll();
                                    }
                                }
                            }
                        });

                    }
                })

            });

            $(document).on('change', '#user-distributor-select', function(){
                getCountriesAndStates();
            });

            $(document).on('change', '.user-type-select', function(){
                getDistributorsCountriesAndStates();
            });


            $(document).ready(function(){
                $('#user-distributor-select').change();
                getDistributorsCountriesAndStates();
            })

        </script>

    {% endblock %}

</body>
</html>