{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Users{% endblock %}</title>
</head>
<body>

    {% block content_title %}All Users{% endblock %}
    {% block content %}
       <div class="row">
          <div class="col-lg-12">
             <div class="panel panel-default">
                <div class="table-responsive">
                   <table id="datatable4" class="table table-striped">
                      <thead>
                         <tr>
                            <th style="width:15%">Surname</th>
                            <th style="width:15%">First Name</th>
                            <th style="width:15%">Distributor</th>
                            <th style="width:15%">Number</th>
                            <th style="width:15%">Email</th>
                            <th style="width:15%">User Type</th>
                             <th style="width:10%"></th>
                         </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>

    {% endblock %}

    {% block extra_scripts %}

{#        <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">#}
{#        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>#}

        <script>
            $('#datatable4').dataTable({
{#                responsive: true,#}
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                "iDisplayLength": 25,
                sAjaxSource: '/user/list/table/',
                aoColumns: [
                  { mData: 'surname' },
                  { mData: 'first_name' },
                  { mData: 'distributor' },
                  { mData: 'phone' },
                  { mData: 'email' },
                  { mData: 'role' },
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var role_id = aData['role_id'];
                    var $role_td = $(nRow).find('td:eq(5)');

                    var user_id = aData['id'];
                    var $user_id_td = $(nRow).find('td:eq(6)');

                    var is_deletable = aData['is_deletable'];

                    // Role section
                    if(role_id == 1){
                        $role_td.wrapInner('<div class="label label-danger"></div>');
                    }else if(role_id == 2){
                        $role_td.wrapInner('<div class="label label-warning"></div>');
                    }else{
                        $role_td.wrapInner('<div class="label label-success"></div>');
                    }

                    // User delete section

                    var user_id_td_str = '';

                    user_id_td_str += '<a href="' + user_id + '" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>';

                    if (is_deletable){
                        user_id_td_str += '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="user_delete(' + user_id + ', this)"></em>';
                    }

                    $user_id_td.html(user_id_td_str);

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                  }
            });

            function user_delete(user_id, self){

                bootbox.dialog({
                  message: "User will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/user/delete/', {'user_id': user_id}, function(response){

                            if ($(self) != undefined){

                                var $user_table = $('#datatable4').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $user_table.fnDeleteRow($user_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }

        </script>

    {% endblock %}

</body>
</html>