{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Slideshows{% endblock %}</title>
</head>
<body>

    {% block content_title %}All Slideshows{% endblock %}
    {% block content %}
       <div class="row">
          <div class="col-lg-12">
             <div class="panel panel-default">
                <div class="table-responsive">
                   <table id="datatable4" class="table table-striped">
                      <thead>
                         <tr>
                            <th style="width:25%">Title</th>
                             <th style="width:15%">Description</th>
{#                             <th style="width:15%">SKU</th>#}
                             <th style="width:35%">Slides</th>
                             <th style="width:15%">Author</th>
                             <th style="width:10%"></th>
                         </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>

    {% endblock %}

    {% block extra_scripts %}

{#        <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">#}
{#        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>#}

        <script>
            $('#datatable4').dataTable({
{#                responsive: true,#}
                "iDisplayLength": 25,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                sAjaxSource: '/presentation/list/table/',
                aoColumns: [
                  { mData: 'title' },
                  { mData: 'description' },
{#                  { mData: 'sku' },#}
                  { mData: 'slides', 'bSortable': false },
                  { mData: 'author' },
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var presentation_id = aData['id'];
                    var $presentation_id_td = $(nRow).find('td:eq(4)');

                    var slides = aData['slides'];
                    var $slides_td = $(nRow).find('td:eq(2)');

                    var slides_td_str = '';
                    $.each(slides, function (index, item) {
                        slides_td_str += '<div class="background_cover" style="display: inline-block; width: 60px; height: 60px; margin: 0 10px 10px 0; background-image: url(\'' + item + '\') "></div>';
                    });

                    $slides_td.html(slides_td_str);

                    // Presentation actions section
                    $presentation_id_td.html(
                        '<a href="' + presentation_id + '/" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>' +
                        '<a href="' + presentation_id + '/generate_pdf/" target="_blank"><em data-toggle="tooltip" data-original-title="Download PDF" class="fa fa-download"></em></a>' +
                        '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="presentation_delete(' + presentation_id + ', this)"></em>'
                    );
                    $presentation_id_td.addClass('table_actions');

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                }
            });

            function presentation_delete(presentation_id, self){

                bootbox.dialog({
                  message: "Slideshow will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/presentation/delete/', {'presentation_id': presentation_id}, function(response){

                            if ($(self) != undefined){

                                var $presentation_table = $('#datatable4').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $presentation_table.fnDeleteRow($presentation_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }

        </script>

    {% endblock %}

</body>
</html>