{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Edit Slideshow{% endblock %}</title>
</head>
<body>

    {% block content_title %}Edit new Slideshow{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-7">
                 <form id="add-presentation-form" method="post" action="." data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                           <div class="panel-title">Form Register</div>#}
{#                        </div>#}
                        <div class="panel-body">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2 pv">
                                        <label class="control-label" >Title</label>
                                    </div>
                                    <div class="col-lg-10">
                                        <input value="{{ presentation.title }}" id="" type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label">Description</label>
                                    </div>
                                    <div class="col-lg-12">
                                       <textarea rows="7" name="description" class="form-control noresize">{{ presentation.description }}</textarea>
                                    </div>
                                </div>
                            </div>

                           <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label class="control-label" >Thumbnail</label>
                                    </div>
                                    <div class="col-lg-10">
                                       <div class="clearfix">
                                            <div class="pull-right pv">
                                                <button type="button"  class="btn btn-primary btn-sm" onclick="showSlideAssetsPopup(this, true);">{% if presentation.thumbnail %}{{ presentation.get_thumbnail_name }}{% else %}Select From Assets Library{% endif %}</button>
                                                <input type="hidden" name="thumbnail_url" id="presentation_thumbnail_url" value="{% if presentation.thumbnail %}{{ presentation.thumbnail.url }}{% endif %}">
                                            </div>
                                       </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <label class="control-label">Countries</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <select multiple class="chosen presentation-country" name="countries">
                                            {% for country in countries %}
                                                <option {% if country.id in already_saved_countries_ids %}selected{% endif %} value="{{ country.id }}">{{ country.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="presentation-distributors-container form-group">
                                <div class="row">

                                    <div class="clearfix">
                                        <div class="pull-right">
                                            <div class="col-lg-12"><strong>To apply to all</strong>, do not select a distributor from the list below</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-lg-4">
                                        <label class="control-label">Distributors</label>
                                    </div>


                                    <div class="col-lg-8">

                                        <select multiple class="chosen distributors" name="distributors">
                                            {% for distributor in distributors %}
                                                <option {% if distributor.id in already_saved_distributors_ids %}selected{% endif %} value="{{ distributor.id }}">{{ distributor.title }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <small>Tips:</small>
                                        <ul>
                                            <li>To <strong>reorder</strong> slide use drag and drop of icons.</li>
                                            <li>To <strong>remove</strong> slide from slideshow double click a slide icon.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label class="control-label">Slides</label>
                                    </div>
                                </div>
                            </div>
{#                            <div class="row">#}
                                <div class="col-lg-12" id="presentation_slides">

                                    {% for slide in slides %}

                                        <div data-toggle="tooltip" data-original-title="{{ slide.title_with_id }}" class="draggable selectable text-center slide used removable col-lg-2 col-md-3" data-slide-id="{{ slide.id }}">
                                            <div class="background_cover" style="margin: 0 auto; width: 60px; height: 60px; background-image: url('{{ slide.thumbnail_url }}');"></div>
                                            <div class="text-center" style="white-space: initial; height: 42px; overflow: hidden;">{{ slide.title }}</div>
                                        </div>

                                    {% endfor %}

                                </div>
{#                            </div>#}

                        </div>

                     </div>
                    <input type="hidden" value="{{ presentation.id }}" name="presentation_id">
                     <!-- END panel-->
                     <button type="submit" class="btn btn-success btn-lg wide" onclick="savePresentation(event, this);">Save Slideshow</button>
                 </form>

            </div>

{#            <div class="row">#}
{#                <div class="col-lg-7">#}
{#                    #}
{#                </div>#}
{#            </div>#}

            <div class="col-lg-5">
                 <div class="panel panel-default">

                     <div class="panel-heading">
                         <div class="panel-title">Slides Gallery</div>
                     </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" >Brand</label>
                                    <select class="chosen filter" name="brand">
                                        <option value="">-</option>
                                        {% for brand in brands %}
                                            <option value="{{ brand.id }}">{{ brand.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
{#                            <div class="col-lg-4">#}
{#                                <div class="form-group">#}
{#                                    <label class="control-label" >Range</label>#}
{#                                    <select class="chosen filter" name="range">#}
{#                                        <option value="">-</option>#}
{#                                        {% for range in ranges %}#}
{#                                            <option value="{{ range.id }}">{{ range.title }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4">#}
{#                                <div class="form-group">#}
{#                                    <label class="control-label" >SKU</label>#}
{#                                    <select class="chosen filter" name="sku">#}
{#                                        <option value="">-</option>#}
{#                                        {% for sku in skus %}#}
{#                                            <option value="{{ sku.id }}">{{ sku.title }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
                        </div>

                        <div class="row">

                            <div class="col-lg-12" id="slides_grid">

                            </div>

                        </div>

                    </div>
                 </div>
            </div>

        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>

            $(document).off('change').on('change', '.presentation-country', function(){

                var $container = $('.presentation-distributors-container');
                var country_ids = $('.presentation-country').val();
                var already_set_distributor_ids = $container.find('.distributors').val();

                $.post('/presentation/distributors_by_country/', {'country_ids': country_ids, 'distributor_ids': already_set_distributor_ids}, function(response){

                    if (response.success){
                        $container.html(response.html_content);
                        $('.chosen').chosen();
                    }

                })

            });

            $(document).ready(function () {
                initSlidesGrid();
            });

            function initSection($container, url_from, show_loading, success_callback){

                if (show_loading == undefined){
                    show_loading = true;
                }

                if (show_loading){
                    var loading_class = 'whirl traditional';

                    $container.css({'minHeight': '20%'});
                    $container.addClass(loading_class);
                }


                $.get(url_from, function (response) {

                    if (response.success){

                        $container.html(response.html_content);

                        if (show_loading){
                            $container.css('minHeight', '');
                            $container.removeClass(loading_class);
                        }

                        if (success_callback != undefined){
                            success_callback();
                        }

                        initTooltipBottom();
                    }

                });

            }


            $(document).on('change', '.filter', function(e){

                $('.filter').not(this).val('');
                $('.filter').not(this).trigger('chosen:updated');

                var $option = $(this).find('option:selected');
                var type = $(this).prop('name');
                var value = $option.val();
                var $section = $('#slides_grid');
                var data = '';

                data += 'type=' + type + '&';
                data += 'value=' + value + '&';

                initSection($section, '/presentation/slide/grid/?' + data);

            });

            function initSlidesGrid() {
                var $section = $('#slides_grid');
                initSection($section, '/presentation/slide/grid/', true, function(){

                    $('#presentation_slides').find('.slide').each(function () {
                        var slide_id = $(this).data('slide-id');
                        $('#slides_grid').find("[data-slide-id='" + slide_id + "']").addClass('used').parent();
                    });

                });
            }

{#            function addNewSlide(self) {#}
{#                var $slides_container = $('#presentation_slides');#}
{##}
{#                $slides_container.append($(self).clone());#}
{##}
{#            }#}

            $('#slides_grid').on('click', '.selectable:not(".used")', function(){

                // avoid dbl usage
                var $self = $(this);
                $self.addClass('used');

                var $slides_container = $('#presentation_slides');
                $slides_container.append(
                    $(this).clone().removeClass('col-lg-3').addClass('removable col-lg-2 col-md-3').css('width', '')
                );
            });

            $('#presentation_slides').on('dblclick', '.removable', function(){
                $(this).remove();
                var slide_id = $(this).data('slide-id');
                $('#slides_grid').find("[data-slide-id='" + slide_id + "']").removeClass('used');
            });

            $('#presentation_slides').sortable().disableSelection();

            function savePresentation(e){

                e.preventDefault();

                var slide_id_list = [];
                var $form = $('#add-presentation-form');
                var data = $form.serialize();

                var $container = $('#presentation_slides');
                var $slides_selected = $container.find('.slide');

                if (!$form.parsley().isValid()){
                    return ;
                }

                blockUICss('<h3>Please wait a few seconds.<br/>We are updating the slideshow.</h3>');

                $slides_selected.each(function(){

                    var slide_id = $(this).data('slide-id');
                    slide_id_list.push(slide_id);

                });

                data += '&slides=' + slide_id_list;

                $.post('/presentation/add/save/', data, function(response){

                    $.unblockUI();

                    if (response.success){
                        notifyShow("Slideshow has been successfully updated!");
                    }else{
                        bootbox.dialog({
                            className: 'error',
                            message: response.errors,
                            title: "Error",
                            buttons: {
                                Ok: {
                                    label: "Ok",
                                    className: "btn-primary",
                                    callback: function() {
                                        bootbox.hideAll();
                                    }
                                }
                            }
                        });
                    }
                })

            }


            function showSlideAssetsPopup(self){


                var $self = $(self);
{#                var fake_id = $(self).data('fake-id');#}
{#                var property = $(self).data('property');#}
                var asset_id = $(self).data('asset-id');
{#                var id = $(self).attr('id');#}

                var $data_input = $('#presentation_thumbnail_url');

                var options = {
                    message: 'Getting list of files ...',
                    title: "Choose file",
                    buttons: {
                        Cancel: {
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        'Choose': {
                            className: "btn-primary",
                            callback: function() {

                                var $container = $('.bootbox.modal');
                                var $body = $container.find('.modal-body');
                                var $active_input = $body.find('label.active').find('input[name="url"]');
                                var asset_url_selected = $active_input.data('url');

                                $data_input.val(asset_url_selected);

                                var filename = asset_url_selected.substring(asset_url_selected.lastIndexOf('/')+1);
                                $self.text(filename);

                                bootbox.hideAll();
                            }
                        }
                    }
                };
                var url = '/slide/asset/list/';
                var url_in_memory = localStorage.getItem('get_assets_tree_url');
                if (url_in_memory !== null){
                    url = url_in_memory;
                }

                openDialog(url, 'some_id_here', options, function(){
                    var $container = $('.bootbox.modal');
                    var $body = $container.find('.modal-body');
{#                    var $asset_id_input = $body.find('input[value="' + asset_id + '"]');#}

{#                    $asset_id_input.parents('label').first().click();#}

                });

            }


        </script>

    {% endblock %}

</body>
</html>