<div class="row">
    <div class="col-lg-12" id="assets_tree">

        <ul>
            {% for one_tree_info in tree_info %}

                {% for brand, brand_info in one_tree_info.items %}

                    <li class="isFolder  custom_brand_{{ brand.id }}">
                        {{ brand.title }}
                        <ul>

                            {% for range, range_info in brand_info.items %}

                                {% if range in subtypes %}
                                    <li class="isFolder custom_brand_{{ brand.id }}_{{ range.title | lower }} path___{{ brand.safe_title }}/{{ range.title }}">
                                        {{ range.title }}
                                    </li>
                                {% else %}

                                    <li class="isFolder custom_range_{{ range.id }}" >
                                        {{ range.title }}
                                        <ul>

                                            {% for sku, sku_info in range_info.items %}
                                                {% if sku in subtypes %}
                                                    <li class="isFolder custom_range_{{ range.id }}_{{ sku.title | lower }} path___{{ brand.safe_title }}/{{ range.safe_title }}/{{ sku.title }}">
                                                        {{ sku.title }}
                                                    </li>
                                                {% else %}
                                                    <li class="isFolder custom_sku_{{ sku.id }}">
                                                        {{ sku.title }}
                                                        <ul>
                                                            {% for subtype, assets  in sku_info.items %}

                                                                <li class="isFolder custom_sku_{{ sku.id }}_{{ subtype.title | lower }} path___{{ brand.safe_title }}/{{ range.safe_title }}/{{ sku.safe_title}}/{{subtype.title }}">
                                                                    {{ subtype.title }}
                                                                 </li>

                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}

                                        </ul>
                                    </li>

                                {% endif %}

                            {% endfor %}

                        </ul>

                    </li>

                {% endfor %}

            {% endfor %}
        </ul>

{#        <ul>#}
{#            {% for brand in brands %}#}
{#                <li class="isFolder" title="{{ brand.title }}">#}
{#                    {{ brand.title }}#}
{##}
{#                    <ul>#}
{#                        {% for range in brand.brand_ranges.all %}#}
{#                            <li class="isFolder" title="{{ range.title }}">#}
{#                                {{ range.title }}#}
{##}
{#                                <ul>#}
{#                                    {% for sku in range.range_sku.all %}#}
{#                                        <li class="isFolder" title="{{ sku.title }}">#}
{#                                            {{ sku.title }}#}
{##}
{#                                            <ul>#}
{#                                                {% for sku_asset in sku.sku_assets.all %}#}
{#                                                    <li title="{{ sku_asset.file_name }}">#}
{#                                                        {{ sku_asset.file_name }}#}
{#                                                    </li>#}
{#                                                {% endfor%}#}
{#                                            </ul>#}
{##}
{#                                        </li>#}
{#                                    {% endfor %}#}
{##}
{#                                    {% for range_asset in range.range_assets.all %}#}
{#                                        <li title="{{ range_asset.file_name }}">#}
{#                                            {{ range_asset.file_name }}#}
{#                                        </li>#}
{#                                    {% endfor %}#}
{#                                </ul>#}
{##}
{#                            </li>#}
{#                        {% endfor %}#}
{##}
{#                        {% for brand_asset in brand.brand_assets.all %}#}
{#                            <li class="" title="{{ brand_asset.file_name }}">#}
{#                                {{ brand_asset.file_name }}#}
{#                            </li>#}
{#                        {% endfor %}#}
{##}
{#                    </ul>#}
{##}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}

    </div>
</div>

<script>

    function stateChanged(nodes, nodesJson) {
{#        var t = nodes[0].text;#}
        localStorage.setItem('easy_tree_menu', nodesJson);
    }

    $('#assets_tree').easytree({
        ordering: 'OrderedFolder'
{#        allowActivate: false#}
{#        data: localStorage.getItem('easy_tree_menu'),#}
{#        stateChanged: stateChanged#}
    });

</script>
