<div class="form-group input-md">

    <label class="control-label">Country:</label>

    <select class="input-md form-control chosen" name="country" id="distributor_country_select">

        <option value="{{ country.id }}">{{ country.title }}</option>

    </select>

 </div>

<div class="form-group">

    <label class="control-label">State:</label>

    <select class="form-control chosen" name="state" id="distributor_state_select">

        {% for state in states %}
            <option value="{{ state.id }}">{{ state.title }}</option>
        {% endfor %}

    </select>

</div>