<label class="control-label">Attach Price List:</label><br/>
{% if is_edit %}
    {% for state, pricelist in merged_pricelist_of_state.items %}
        <p><strong>{{ state.title }}</strong></p>

        {% if  pricelist.file %}
            Currently: <a href="{{ pricelist.file.url }}"><span>{{ pricelist.file.name }}</span></a><br>
        {% endif %}

        <input type="file" name="{{ state.id }}" class="custom-file-input"/>
        {% if pricelist and pricelist.file %}
            <br>Clear: <input type="checkbox" name="clear-pricelist--{{ pricelist.id }}" />
        {% endif %}

        <hr>
    {% endfor %}
{% else %}

    {% for state in states %}
        <p><strong>{{ state.title }}</strong></p>
        <input type="file" name="{{ state.id }}" class="custom-file-input"/><br>
    {% endfor %}

{% endif %}
<script>
    $(document).ready(function(){
        $('input[type=file].custom-file-input ').bootstrapFileInput();
    })
</script>
{#{% for pricelist_form in pricelist_forms %}#}
{#        {{ pricelist_form.file }} <br />#}
{#    {{ state.title }}#}
{#    <input type="file" name="{{ state.id }}"/><br>#}
{#{% endfor %}#}
{#<form method="post" action="">#}
{#    <table>#}
{#        {{ formset }}#}
{#    </table>#}
{#</form>#}

{#<form method="post" action="">#}
{#    {{ formset.management_form }}#}
{#    <table>#}
{#        {% for form in formset %}#}
{#            {{ form.initial.state_title }}#}
{#            {{ form }}#}
{#        {% endfor %}#}
{#    </table>#}
{#</form>#}

{#<form method="post" action="">#}
{#    {{ formset.management_form }}#}
{#    {% for form in formset %}#}
{##}
{#            <strong>{{ form.initial.state_title }} </strong><br />#}
{#            {{ form.file }}#}
{#            <li>{{ form.pub_date }}</li>#}
{#            {% if formset.can_delete %}#}
{#                clear: {{ form.DELETE }} <br /><br />#}
{#            {% endif %}#}
{#        </ul>#}
{#    {% endfor %}#}
{#</form>#}

