<p><strong>Attach Price List:</strong></p>

{% if  country_price_list.file %}
    Currently: <a href="{{ country_price_list.file.url }}"><span>{{ country_price_list.file.name }}</span></a><br>
{% endif %}

<input type="file" name="{{ country_id }}" class="custom-file-input"/>
{% if country_price_list and country_price_list.file %}
    <br>Clear: <input type="checkbox" name="clear-pricelist--{{ country_price_list.id }}" />
{% endif %}

<hr>
<script>
    $(document).ready(function(){
        $('input[type=file].custom-file-input ').bootstrapFileInput();
    })
</script>