{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Add SKU{% endblock %}</title>
</head>
<body>

    {% block content_title %}Add new SKU{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-6">
                 <form id="add-sku-form" method="post" action="." data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                           <div class="panel-title">Form Register</div>#}
{#                        </div>#}
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label">Title *</label>
                                <input type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                            </div>

                            <div class="form-group input-md">

                                <label class="control-label">Range:</label>
                                <select class="input-md form-control chosen" name="range" id="">

                                    {% for range in ranges %}
                                        <option value="{{ range.id }}">{{ range.title }}</option>
                                    {% endfor %}

                                </select>

                             </div>

                            <div class="form-group">
                                <label class="control-label">SKU num</label>
                                <input type="text" name="sku_num" class="form-control" data-parsley-maxlength="10" data-parsley-id="1430"><ul class="parsley-errors-list" id="parsley-id-1430"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Vintage num</label>
                                <input type="text" name="vintage_num" class="form-control" data-parsley-maxlength="4" data-parsley-id="1431" ><ul class="parsley-errors-list" id="parsley-id-1431"></ul>
                            </div>

{#                            <input type="hidden" name="range" value="{{ range_id }}">#}

                            <div class="required">* Required fields</div>

                        </div>
                        <div class="panel-footer">
                           <div class="clearfix">
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary">Create</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- END panel-->
                 </form>
            </div>

        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>

            $('#add-sku-form').submit(function(e){
                e.preventDefault();

                if (!$('#add-sku-form').parsley().isValid()){
                    return ;
                }

                var $form = $(this);
                var data = $form.serialize();
                $.post('/sku/add/save/', data, function (response) {

                    if (response.success) {

                        // reset form after successful save

                        $form[0].reset();
                        $('.chosen').trigger('chosen:updated');

                        // show up any successful notification here
                        notifyShow("SKU has been successfully created!");

                    } else {

                        bootbox.dialog({
                            className: 'error',
                            message: response.errors,
                            title: "Error",
                            buttons: {
                                Ok: {
                                    label: "Ok",
                                    className: "btn-primary",
                                    callback: function() {
                                        bootbox.hideAll();
                                    }
                                }
                            }
                        });

                    }
                })

            })

        </script>

    {% endblock %}

</body>
</html>