{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Brands{% endblock %}</title>
</head>
<body>

    {% block content_title %}All Brands{% endblock %}
    {% block content %}
       <div class="row">
          <div class="col-lg-12">
             <div class="panel panel-default">
                <div class="table-responsive">
                   <table id="datatable4" class="table table-striped">
                      <thead>
                         <tr>
                            <th style="width:90%">Title</th>
{#                            <th style="width:60%">Details</th>#}
                             <th style="width:10%"></th>
                         </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>

    {% endblock %}

    {% block extra_scripts %}

{#        <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">#}
{#        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>#}

        <script>
            $('#datatable4').dataTable({
{#                responsive: true,#}
                "iDisplayLength": 25,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                sAjaxSource: '/brand/list/table/',
                aoColumns: [
                  { mData: 'title' },
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var brand_id = aData['id'];
                    var $brand_id_td = $(nRow).find('td:eq(1)');

                    // Distributor delete section
                    $brand_id_td.html(
                        '<a href="' + brand_id + '" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>' +
                        '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="brand_delete(' + brand_id + ', this)"></em>'
                    );

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                  }
            });

            function distributor_delete(brand_id, self){

                bootbox.dialog({
                  message: "Brand will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/brand/delete/', {'brand_id': brand_id}, function(response){

                            if ($(self) != undefined){

                                var $brand_table = $('#datatable4').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $brand_table.fnDeleteRow($brand_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }

        </script>

    {% endblock %}

</body>
</html>