{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Edit Distributor{% endblock %}</title>
</head>
<body>

    {% block content_title %}Edit Distributor{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-6">
                 <form id="add-distributor-form" method="post" action="." data-parsley-validate="" novalidate="" enctype="multipart/form-data">{% csrf_token %}
                     <!-- START panel-->
                     <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                           <div class="panel-title">Form Register</div>#}
{#                        </div>#}
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label">Title *</label>
                                <input value="{{ distributor.title }}" type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                            </div>

                            <div class="form-group input-md">

                                <label class="control-label">Country:</label>

                                <select class="input-md form-control chosen" name="country" id="distributor_countries_select">

                                    {% for country in countries %}
                                        <option {% if distributor_country.id == country.id %}selected{% endif %} value="{{ country.id }}">{{ country.title }}</option>
                                    {% endfor %}

                                </select>

                             </div>

                            <div class="form-group">

                                <label class="control-label">States:</label>

                                <select multiple class="form-control chosen" name="states" id="distributor_states_select">

                                    {% for state in country_states %}
                                        <option {% if state.id in distributor_state_ids %} selected {% endif %} value="{{ state.id }}">{{ state.title }}</option>
                                    {% endfor %}

                                </select>

                            </div>

                            <div class="form-group" id="distributor_files">

                            </div>

                            <div class="form-group">
                                <label class="control-label">Details</label>
                                <textarea rows="10" name="details" class="form-control noresize">{{ distributor_details }}</textarea>
                            </div>

                            <input type="hidden" value="{{ distributor.id }}" name="distributor_id" id="distributor_id">

                            <div class="required">* Required fields</div>

                        </div>
                        <div class="panel-footer">
                           <div class="clearfix">
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- END panel-->
                 </form>
            </div>

        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>

            $(document).off('change').on('change', '#distributor_countries_select', function(){
                getStateOptions();
                getDistributorPriceListForm();
            });

{#            $(document).on('change', '#distributor_countries_select', function(){#}
{#                getStateOptions();#}
{#            });#}

            var $states_container = $('#distributor_states_select');

            if ($states_container.children().length > 0){

               $states_container.chosen().change(function(e, params){
                     getDistributorPriceListForm();
                });

            }  else {

                getDistributorPriceListForm();

            }

            $(document).ready(function(){
                getDistributorPriceListForm();
            });

            {% if saved %}
                notifyShow("Distributor has been successfully saved!");
                $('.chosen').trigger('chosen:updated');
            {% endif %}

            var $form = $('#add-distributor-form');

{#            $form.submit(function(e){#}
{##}
{##}
{#                if (!$form.parsley().isValid()){#}
{#                    e.preventDefault();#}
{#                }#}
{##}
{#                return;#}

            $form.submit(function(e){
{#                e.preventDefault();#}

                if (!$form.parsley().isValid()){
                    e.preventDefault();
                }

                return;

{#                var $form = $(this);#}
{#                var data = $form.serialize();#}
{#                $.post('/distributor/add/save/', data, function (response) {#}
{##}
{#                    if (response.success) {#}
{##}
{#                        // reset form after successful save#}
{##}
{#                        $form[0].reset();#}
{#                        $('.chosen').trigger('chosen:updated');#}
{##}
{#                        // show up any successful notification here#}
{#                        notifyShow("Distributor has been successfully created!");#}
{##}
{#                    } else {#}
{##}
{#                        bootbox.dialog({#}
{#                            className: 'error',#}
{#                            message: response.errors,#}
{#                            title: "Error",#}
{#                            buttons: {#}
{#                                Ok: {#}
{#                                    label: "Ok",#}
{#                                    className: "btn-primary",#}
{#                                    callback: function() {#}
{#                                        bootbox.hideAll();#}
{#                                    }#}
{#                                }#}
{#                            }#}
{#                        });#}
{##}
{#                    }#}
{#                })#}

            })

        </script>

    {% endblock %}

</body>
</html>