{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Add Range{% endblock %}</title>
</head>
<body>

    {% block content_title %}Add new Range{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-6">
                 <form id="add-range-form" method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                           <div class="panel-title">Form Register</div>#}
{#                        </div>#}
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label">Title *</label>
                                <input type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                            </div>

                            <input type="hidden" value="{{ brand_id }}" name="brand">

                            <div class="required">* Required field</div>

                        </div>
                        <div class="panel-footer">
                           <div class="clearfix">
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary">Create</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- END panel-->
                 </form>
            </div>

        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>

            $('#add-range-form').submit(function(e){
                e.preventDefault();

                if (!$('#add-range-form').parsley().isValid()){
                    return ;
                }

                var $form = $(this);
                var data = $form.serialize();
                $.post('/range/add/save/', data, function (response) {

                    if (response.success) {

                        // reset form after successful save

                        $form[0].reset();

                        // show up any successful notification here
                        notifyShow("Range has been successfully created!");

                    } else {

                        bootbox.dialog({
                            className: 'error',
                            message: response.errors,
                            title: "Error",
                            buttons: {
                                Ok: {
                                    label: "Ok",
                                    className: "btn-primary",
                                    callback: function() {
                                        bootbox.hideAll();
                                    }
                                }
                            }
                        });

                    }
                })

            })

        </script>

    {% endblock %}

</body>
</html>