<div class="row">

    <div class="clearfix">
        <div class="pull-right">
            <div class="col-lg-12"><strong>To apply to all</strong>, do not select a distributor from the list below</div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-4">
        <label class="control-label">Distributors</label>
    </div>


    <div class="col-lg-8">

        <select multiple class="chosen distributors" name="distributors">
            {% for distributor in distributors %}
                <option {% if distributor.id in already_set_distributor_ids%}selected{% endif %} value="{{ distributor.id }}">{{ distributor.title }}</option>
            {% endfor %}
        </select>

    </div>

</div>