<div class="" data-toggle="buttons">
    {% for slide in slides %}
        <label class="pv text-center btn btn-default layout" style="border-color: white" >
            <div class="draggable selectable text-center slide" data-slide-id="{{ slide.id }}" style="width: 73px;" data-toggle="tooltip" data-original-title="{{ slide }}">
{#                <div>#}
{#                    <img width="60" height="60" src="{{ slide.get_thumbnail }}">#}
                    <div class="background_cover" style="margin: 0 auto; width: 60px; height: 60px; background-image: url('{{ slide.get_thumbnail }}');"></div>
{#                </div>#}
{#                <div>#}
{#                    <p class="text-center">{{ slide.title|slice:"-10:" }}</p>#}
{#                </div>#}
{#                <p class="text-center">{{ slide.title|slice:"-10:" }}</p>#}
                <div class="text-center" style="white-space: initial; height: 42px; overflow: hidden;">{{ slide.title }}</div>
            </div>

            <input class="" type="radio" name="slide" value="{{ slide.id }}">
        </label>
    {% endfor %}
</div>