{% load staticfiles %}

<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>Angle - Bootstrap Admin Template</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="{% static 'css/external/fontawesome/css/font-awesome.min.css' %}">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="{% static 'css/external/simple-line-icons/css/simple-line-icons.css' %}">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="{% static 'css/app.css' %}" id="maincss">
</head>

<body>
   <div class="wrapper">
      <div class="block-center mt-xl wd-xl">
         <!-- START panel-->
         <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
               <a href="#">
                  <img src="{% static 'images/logo.png' %}" alt="Image" class="block-center img-rounded">
               </a>
            </div>
            <div class="panel-body">
               <p class="text-center pv">SIGN IN TO CONTINUE.</p>
               <form role="form" data-parsley-validate="" novalidate="" class="mb-lg" action="." method="POST">
                  <div class="form-group has-feedback">
                     <input id="exampleInputEmail1" type="email" name="email" placeholder="Enter email" autocomplete="off" required class="form-control">
                     <span class="fa fa-envelope form-control-feedback text-muted"></span>
                  </div>
                  <div class="form-group has-feedback">
                     <input id="exampleInputPassword1" type="password" name="password" placeholder="Password" required class="form-control">
                     <span class="fa fa-lock form-control-feedback text-muted"></span>
                  </div>
                  <div class="clearfix">
{#                     <div class="checkbox c-checkbox pull-left mt0">#}
{#                        <label>#}
{#                           <input type="checkbox" value="" name="remember">#}
{#                           <span class="fa fa-check"></span>Remember Me</label>#}
{#                     </div>#}
{#                     <div class="pull-right"><a href="recover.html" class="text-muted">Forgot your password?</a>#}
{#                     </div>#}
                  </div>
                  <button type="submit" class="btn btn-block btn-primary mt-lg">Login</button>
               </form>
{#               <p class="pt-lg text-center">Need to Signup?</p><a href="register.html" class="btn btn-block btn-default">Register Now</a>#}
            </div>
         </div>
         <!-- END panel-->
         <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2015</span>
            <span>-</span>
            <span>McWilliams Wine</span>
         </div>
      </div>
   </div>

        <!-- =============== VENDOR SCRIPTS ===============-->

        <!-- JQUERY-->
        <script src="{% static 'js/external/jquery/jquery.js' %}"></script>
        <!-- BOOTSTRAP-->
        <script src="{% static 'js/external/bootstrap/bootstrap.js' %}"></script>
        <!-- BOOTSTRAP MODAL EXT-->
        <script src="{% static 'js/external/bootstrap/bootbox.min.js' %}"></script>
        <!-- STORAGE API-->
        <script src="{% static 'js/external/jQuery-Storage-API/jquery.storageapi.js' %}"></script>
        <!-- PARSLEY-->
        <script src="{% static 'js/external/parsleyjs/parsley.min.js' %}"></script>
        <!-- CHOSEN-->
        <script src="{% static 'js/external/chosen_v1.2.0/chosen.jquery.min.js' %}"></script>

        <!-- =============== APP SCRIPTS ===============-->
        <script src="{% static 'js/my_custom.js' %}"></script>

        <!-- =============== APP SCRIPTS ===============-->
        <script src="{% static 'js/app.js' %}"></script>

        <script>
            $(document).ready(function(){
                {% if not success %}
                    bootbox.dialog({
                        className: 'error',
                        message: 'Credentials are incorrect',
                        title: "Error",
                        buttons: {
                            Ok: {
                                label: "Ok",
                                className: "btn-primary",
                                callback: function() {
                                    bootbox.hideAll();
                                }
                            }
                        }
                    });
                {% endif %}
            })
       </script>


</body>

</html>