<form id="add-state-form" method="post" action="." data-parsley-validate="" novalidate="" enctype="multipart/form-data">

    <div class="form-group">
        <label class="control-label">Title</label>
        <input type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
    </div>

</form>