{% for element in elements %}

    <div class="form-group">

        {# is Text #}
        {% if element.content_type == 1 %}

            <div class="col-lg-12">
                <label class="control-label">{{ element.label }}:</label>
            </div>

            <div class="col-lg-12">

                <div class="row">

                    <div class="col-lg-3" style="line-height: 2.4;">Bullets color: </div>
                    <div class="col-lg-3">
                        <div class="color_picker data" id="color_picker_{{ forloop.counter }}" style="background-color: #ea9927; height: 30px; width:30px; cursor: pointer;"></div>
                    </div>

                </div>

                <div class="row pv">
                    <div class="col-lg-3" style="line-height: 2.4;">Font-family: </div>
                    <div class="col-lg-4">
                        <select class="chosen font-family" name="font-family">
                            {% for font in fonts %}
                                <option data-font_id={{ font.id }} {% if element.font.id == font.id %}selected{% endif %} value="{{ font.css_name }}">{{ font.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <textarea class="data" id="{{ element.content_type }}_{{ forloop.counter }}" data-property="{{ element.property }}" data-label="{{ element.label }}" data-font_id="{% if element.font %}{{ element.font_id }}{% endif %}" data-font_color={{ element.font_color }} data-bullet_color="#EA9A27" data-action="" data-content_type={{ element.content_type }} data-movable={{ element.movable }} data-resizable={{ element.resizable }} data-element_id="{% if element.layout_element %}{{ element.layout_element.id }}{% else %}{{ element.id }}{% endif %}" data-z_index="{{ element.z_index }}" data-x="{{ element.x }}" data-y="{{ element.y }}" data-width="{{ element.width }}" data-height="{{ element.height }}" data-fake-id="fake-{{ forloop.counter }}" data-property="{{ element.property }}" data-line_height="{{ element.line_height }}" data-text_align="{{ element.text_align }}" data-vertical_align="{{ element.vertical_align }}" data-font_size="{{ element.font_size }}" placeholder="Enter text ...">{{ element.predefined_text_content|linebreaksbr }}{% if element.content %}{{ element.content|safe }}{% endif %}</textarea>
                <script type="text/javascript">

                     var myCustomTemplates = {

                        custom1: function (context) {
                            var s = "";
                            s += '<li class="dropdown">';
                            s += '<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1" aria-expanded="false">';
                            s += '<span class="font-size">Font Size</span>';
                            s += '<b class="caret"></b>';
                            s += '</a>';
                            s += '<ul class="dropdown-menu" style="margin-top: 0px;">';

                            for (var i=10; i<=40; i+=2){
                                s += '<li><a class="wysiwyg-font-size-' + i + '" data-wysihtml5-command=\"fontSize\" data-wysihtml5-command-value=\"' + i + '\">' + i + 'px</a></li>';
                            }

                            s += '</ul>';
                            s += '</li>';

                            return s;
                        },
                        custom2: function (context) {
{#                            var s = '<a class="btn  btn-default" data-wysihtml5-command=\"foreColorStyle\" data-wysihtml5-command-value=\"rgba(255,255,0,1)\" title="CTRL+I" tabindex="-1" href="javascript:void();">Font Color</a>';#}
{#                            var s = '<li><input type="text" value="Font Color" data-wysihtml5-command=\"foreColorStyle\" data-wysihtml5-command-value=\"rgba(255,255,0,1)\" title="CTRL+I" tabindex="-1" /></li>';#}
                            var s = "";
                            s += '<li class="dropdown" style="width:190px;">';
                            s += '<span style="float: left;height: 30px; line-height: 30px;" class="font-size">Font Color:</span>';
                            s += '<div class="font_color_picker" id="color_picker_{{ forloop.counter }}" style="float: left; background-color: #000000; height: 30px; width:30px; cursor: pointer;"></div>';
                            s += '<a class="btn  btn-default font-color-btn" data-wysihtml5-command=\"foreColorStyle\" data-wysihtml5-command-value=\"rgb(0,0,0)\" tabindex="-1" href="javascript:void();">Set</a>';
{#                            s += '<ul class="dropdown-menu" style="margin-top: 0px;">';#}
{##}
{#                            for (var i=10; i<=40; i+=2){#}
{#                            s += '<li><a class="font-color" data-wysihtml5-command=\"foreColorStyle\" data-wysihtml5-command-value=\"rgba(255,255,0,1)\">' + 'rgba(255,255,0,1)' + '</a></li>';#}
{#                            }#}
{##}
{#                            s += '</ul>';#}
                            s += '</li>';

                            return s;
                        }
                    };

                    $('#' + '{{ element.content_type }}_{{ forloop.counter }}').wysihtml5({
                        toolbar: {
                            'font-styles': false,
                            "fa": true,
                            "color": false,
                            "link": false,
                            "image": false,
                            "blockquote": false,
                            "html": true,
                            "custom1": true,
                            "custom2": true
                        },
                        "customTemplates": myCustomTemplates,
                        "useLineBreaks": true
                    });

                </script>

            </div>
            <div class="col-lg-12">

               <div class="clearfix">
                  <div class="pull-right pv">
{#                      <input type="text" class="color_picker" id="color_picker_{{ forloop.counter }}" />#}

                     <button type="button" data-property="{{ element.property }}" data-label="{{ element.label }}" data-fake-id="{{ element.content_type }}_{{ forloop.counter }}" class="btn btn-primary" onclick="applyText(this);">Apply</button>
                  </div>
               </div>

            </div>

        {# is Image or Video #}
        {% elif element.content_type == 2 or element.content_type == 3 %}

            <div class="col-lg-5 pv">
                <label class="control-label">{{ element.label }}:</label>
            </div>
            <div class="col-lg-7 pv">
                <button type="button" data-property="{{ element.property }}" data-label="{{ element.label }}" data-action="" data-content_type={{ element.content_type }} data-movable={{ element.movable }} data-resizable={{ element.resizable }} data-element_id="{% if element.layout_element %}{{ element.layout_element.id }}{% else %}{{ element.id }}{% endif %}" data-file_url="{% if element.predefined_image %}{{ element.predefined_image.url }}{% endif %}{% if element.file %}{{ element.file }}{% endif %}" data-content="" data-z_index="{{ element.z_index }}" data-x="{{ element.x }}" data-y="{{ element.y }}" data-width="{{ element.width }}" data-height="{{ element.height }}" data-fake-id="fake-{{ forloop.counter }}" data-property="{{ element.property }}" class="btn btn-primary btn-sm data with_close" onclick="showSlideAssetsPopup(this);">{% if element.predefined_image %}{{ element.get_predefined_image_name }}{% elif element.file %}{{ element.file_name }}{% else %}Select From Assets Library{% endif %}</button>
{#                <input type="hidden" id="fake-{{ forloop.counter }}" name="{{ element.property }}_url" >#}
            </div>

        {# is Button #}
        {% elif element.content_type == 4 %}

            <div class="form-group pv">
                <div class="col-lg-5 pv">
                    <label class="control-label">{{ element.label }}:</label>
                </div>
                <div class="col-lg-7 pv">
                    <button type="button" data-property="{{ element.property }}" data-label="{{ element.label }}" id="fake-{{ forloop.counter }}-1" data-action="{{ element.action }}" data-content_type={{ element.content_type }} data-movable={{ element.movable }} data-resizable={{ element.resizable }} data-element_id="{% if element.layout_element %}{{ element.layout_element.id }}{% else %}{{ element.id }}{% endif %}" data-file_url="{{ element.file }}" data-content="" data-z_index="{{ element.z_index }}" data-x="{{ element.x }}" data-y="{{ element.y }}" data-width="{{ element.width }}" data-height="{{ element.height }}" data-fake-id="fake-{{ forloop.counter }}" data-property="{{ element.property }}" class="btn btn-primary btn-sm data with_close ios_button" onclick="showSlideAssetsPopup(this);">{% if element.file %}{{ element.file_name }}{% else %}Select From Assets Library{% endif %}</button>
                </div>

                <div class="col-lg-5 pv">
                    <label class="control-label">File to be linked to:</label>
                </div>
                <div class="col-lg-7 pv">
{#                    <input type="text" class="form-control action" data-fake-id="fake-{{ forloop.counter }}" >#}
                    <button type="button" data-property="{{ element.property }}" data-label="{{ element.label }}" id="fake-{{ forloop.counter }}" data-action="{{ element.action }}" data-content_type={{ element.content_type }} data-movable={{ element.movable }} data-resizable={{ element.resizable }} data-element_id="{% if element.layout_element %}{{ element.layout_element.id }}{% else %}{{ element.id }}{% endif %}" data-file_url="" data-content="" data-z_index="{{ element.z_index }}" data-x="{{ element.x }}" data-y="{{ element.y }}" data-width="{{ element.width }}" data-height="{{ element.height }}" data-fake-id="fake-{{ forloop.counter }}" data-property="{{ element.property }}" class="btn btn-primary btn-sm with_close" onclick="showSlideAssetsPopup(this, true);">{% if element.action %}{{ element.action_name }}{% else %}Select From Assets Library{% endif %}</button>
                </div>
            </div>

        {# is Text Placeholder to be filled out via iOS #}
        {% elif element.content_type == 5 %}

            <div class="form-group pv">
                <div class="col-lg-5 pv">
                    <label class="control-label">{{ element.label }}:</label>
                </div>
                <div class="col-lg-7 pv">
                    <button style="display: none;" type="button" data-property="{{ element.property }}" data-label="{{ element.label }}" id="fake-{{ forloop.counter }}" data-action="" data-content_type={{ element.content_type }} data-movable={{ element.movable }} data-resizable={{ element.resizable }} data-element_id="{% if element.layout_element %}{{ element.layout_element.id }}{% else %}{{ element.id }}{% endif %}" data-file_url="" data-content='<div class="text_placeholder"></div>' data-z_index="{{ element.z_index }}" data-x="{{ element.x }}" data-y="{{ element.y }}" data-width="{{ element.width }}" data-height="{{ element.height }}" data-fake-id="fake-{{ forloop.counter }}" data-property="{{ element.property }}" class="btn btn-primary btn-sm data">Select From Assets Library</button>
                </div>
                <div class="col-lg-12">

                   <div class="clearfix">
                      <div class="pull-right">
    {#                      <input type="text" class="color_picker" id="color_picker_{{ forloop.counter }}" />#}

                         <button type="button" data-property="{{ element.property }}" data-label="{{ element.label }}" data-fake-id="{{ element.content_type }}_{{ forloop.counter }}" class="btn btn-primary" onclick="applyText(this);">Apply</button>
                      </div>
                   </div>

                </div>
            </div>

        {% endif %}
        <div class="col-lg-12">
            <hr>
        </div>
    </div>


{% endfor %}

<script type="text/javascript">

    $(document).on('change', '.font-family', function(e){

        var $this = $(this);
        var font_family = $this.find('option:selected').val();
        var font_id = $this.find('option:selected').data('font_id');
        var $parent = $this.parents('.form-group').first();
        var $data_input = $parent.find('textarea');

        $data_input.data('font-family', font_family);
        $data_input.data('font_id', font_id);

    });

    $(document).ready(function(){

        $('.chosen').chosen();
        $('.font-family').change();
        initSlidePreviewSection();
        buttonWithX();
        restrictFilename();

    });


    $(document).on('change', '.action', function(e){

        var $this = $(this);
        var value = $this.val();
        var fake_id = $this.data('fake-id');
        var $parent = $this.parents('.form-group').first();
        var $controller = $parent.find('#'+fake_id);

        $controller.data('action', value);

    });

    $('.color_picker').ColorPicker({
        color: '#EA9A27',
        onSubmit: function(hsb, hex, rgb, el) {
            $(el).css('backgroundColor', '#'+hex);
            $(el).parents('.form-group').first().find('textarea').data('bullet_color', '#'+hex);
            $(el).ColorPickerHide();
        },
        onChange: function(hsb, hex, rgb, el){
            $(el).css('backgroundColor', '#'+hex);
            $(el).parents('.form-group').first().find('textarea').data('bullet_color', '#'+hex);
        }
    });

    $('.font_color_picker').ColorPicker({
        color: '#000000',
        onSubmit: function(hsb, hex, rgb, el) {
            $(el).css('backgroundColor', '#'+hex);
            $(el).next().attr('data-wysihtml5-command-value', 'rgb(' + rgb.r + ',' +rgb.g +',' + rgb.b +')');
            $(el).ColorPickerHide();
        },
        onChange: function(hsb, hex, rgb, el){
            $(el).css('backgroundColor', '#'+hex);
            $(el).next().attr('data-wysihtml5-command-value', 'rgb(' + rgb.r + ',' +rgb.g +',' + rgb.b +')');
        }
    });

    function buttonWithX(){
        var $btns = $('.with_close');

        $btns.each(function () {
            var slide_id = 1;
            $(this).after('<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove asset_clear"></em>');
        });

        $(document).on('click','.asset_clear', function(){
            $(this)
                .siblings('.with_close')
                .text('Select From Assets Library')
                .data('file_url', '').data('action', '');

            $(this).parents('.form-group').first().find('button').data('action', '');
            initSlidePreviewSection();
        });

    }

    function restrictFilename(){

        var max_length = 30;
        var $btns = $('.with_close');

        $btns.each(function(){
            var filename = $(this).text();

            if(filename.length > max_length){
                filename = '...' + filename.slice(-max_length);
                $(this).text(filename);
            }


        });


    }

</script>
