<div class="slide_preview relative" style="">

    {% for element in slide_elements %}

        {# is text block #}
        {% if element.content_type == 1%}
                <div class="background background_contain {% if element.movable %}movable{% endif %} {% if element.resizable%}resizable{% endif %}" data-fake-id="{{ element.fake_id }}" data-bullet_color="{{ element.bullet_color }}" style="display:table; position: absolute; top: {{ element.y }}; left: {{ element.x }}; width: {{ element.width }}; height: {{ element.height }}; z-index: {{ element.z_index }}; background-image: url('{{ element.file_url }}'); font-family: '{{ element.font_family }}'; text-align: {{ element.text_align }}; font-size: {{ element.font_size }}; color: {{ element.font_color }}; {% if element.line_height %}line-height: {{ element.line_height }};{% endif %}"><div class="table-cell" style="vertical-align: {{ element.vertical_align }};">{{ element.content|safe }}</div></div>

        {# is video block #}
        {% elif element.content_type == 3 %}
            <div class="background background_contain {% if element.movable %}movable{% endif %} {% if element.resizable%}resizable{% endif %}" data-fake-id="{{ element.fake_id }}" data-bullet_color="{{ element.bullet_color }}" style="position: absolute; top: {{ element.y }}; left: {{ element.x }}; width: {{ element.width }}; height: {{ element.height }}; z-index: {{ element.z_index }};  background-image: url(''); background-color: white; font-family: '{{ element.font_family }}'">
                <img src="{{ element.video_thumbnail }}"  style="top: 50%; left: 50%; width: 256px; height: 256px; position: absolute; margin-left: -128px; margin-top: -128px;" />
            </div>

        {% else %}
            <div class="background background_contain {% if element.movable %}movable{% endif %} {% if element.resizable%}resizable{% endif %}" data-fake-id="{{ element.fake_id }}" data-bullet_color="{{ element.bullet_color }}" style="position: absolute; top: {{ element.y }}; left: {{ element.x }}; width: {{ element.width }}; height: {{ element.height }}; z-index: {{ element.z_index }}; background-image: url('{{ element.file_url }}'); font-family: '{{ element.font_family }}'; text-align: {{ element.text_align }}; ">{{ element.content|safe }}</div>
        {% endif %}
    {% endfor %}

</div>

<script>

    $(document).ready(function () {

    $('#slide_preview').waitForImages({
        waitForAll: true,
        finished: function() {
            // All descendant images have loaded
            $('.save_slide_btn').attr('disabled', false);
        }
    });

    $( ".movable" ).draggable({
        containment: ".slide_preview",
        opacity: 0.8,
        cursor: "move",
{#        snap: true,#}
        drag: function (event, ui) {
            recalcPosition($(this));
        }
    });
    $('.resizable').resizable({
        containment: ".slide_preview",
        autoHide: true,
        resize: function (event, ui) {
            recalcPosition($(this));
        }
    });

       setBackgroundDimensions();
    });

    function setBackgroundDimensions() {
        var $backgrounds = $('.background');

        $backgrounds.each(function (index, obj) {
            obj = $(obj);

            var image_url = obj.css('background-image'),
            image;

            // Remove url() or in case of Chrome url("")
            image_url = image_url.match(/^url\("?(.+?)"?\)$/);

            if (image_url[1]) {
                image_url = image_url[1];
                image = new Image();

                // just in case it is not already loaded
                $(image).load(function () {

                    if (obj.is('.resizable')){
                        obj.resizable( "option", "maxHeight", image.height );
                        obj.resizable( "option", "maxWidth", image.width );
                    }

                });

                image.src = image_url;
            }

        });

    }

    function recalcPosition($cur_element) {

        var fake_id = $cur_element.data('fake-id');

        var new_width = $cur_element.width();
        var new_height = $cur_element.height();
        var new_x = $cur_element.position().left;
        var new_y = $cur_element.position().top;

        var $container = $('#slide_elements');

        var $element = $container.find('[data-fake-id="' + fake_id + '"]');

        $element.data({
            'width': new_width,
            'height': new_height,
            'x': new_x,
            'y': new_y
        });

    }

</script>
