<div class="row">
    <div class="col-lg-12">
        <div class="btn-group content" data-toggle="buttons">

            {% if prev_type %}
                <div class="clearfix pv">
                    <button type="button" class="btn btn-primary" onclick="getAssetsTreeBack(this, '{{ prev_type }}', '{{ prev_id }}', '');">&larr; &nbsp;Back</button>
                </div>
            {% endif %}

            {% for tree in trees %}
                <label data-toggle="tooltip" data-original-title="{{ tree.title }}" class="pv text-center btn btn-default" style="border-color: white" onclick="getAssetsTreeDirect(this, '{{ tree.type }}', '{{ tree.id }}', '{{ tree.subtype }}')">
                    <div>
                        <div class="background_cover" style="width: 60px; height: 60px; background-image: url('{{ tree.image }}');"></div>
{#                        <img width="60" height="60" src="{% if  asset.file_thumbnail %} {{ asset.file_thumbnail.url }} {% else %}{{ asset.file_thumbnail }}{% endif %}">#}
                    </div>
                    <div >
{#                        {{ asset.short_name }}#}
                        {{ tree.title|slice:":10" }}
                    </div>
                    <input class="" type="radio" name="url" value="{{ asset.id }}" data-url="{{ asset.file.url }}" data-width="{{ asset.file.width }}" data-height="{{ asset.file.height }}">
                </label>
            {% endfor %}

            {% for asset in assets %}

                <label data-toggle="tooltip" data-original-title="{{ asset.file_name }}" class="pv text-center btn btn-default" style="border-color: white">
                    <div>
                        <div class="background_cover" style="width: 60px; height: 60px; background-image: url('{% if  asset.file_thumbnail %} {{ asset.file_thumbnail.url }} {% else %}{{ asset.file_thumbnail }}{% endif %}');"></div>
{#                        <img width="60" height="60" src="{% if  asset.file_thumbnail %} {{ asset.file_thumbnail.url }} {% else %}{{ asset.file_thumbnail }}{% endif %}">#}
                    </div>
                    <div>
                        {{ asset.short_name }}
{#                        {{ asset.file.name }}#}
                    </div>
                    <input class="" type="radio" name="url" value="{{ asset.id }}" data-url="{{ asset.file.url }}" data-width="{{ asset.file.width }}" data-height="{{ asset.file.height }}">
                </label>

            {% endfor %}
        </div>
    </div>
</div>

{#    </div>#}
    <script>
        function getAssetsTreeDirect(self, type, id, subtype) {

            var $container = $(self).parents('.modal-body').first();
            getAssetsTree($container, type, id, subtype);

        }
        function getAssetsTreeBack(self, type, id, subtype) {

            var $container = $(self).parents('.modal-body').first();
            getAssetsTree($container, type, id, subtype);

        }

        function getAssetsTree($container, type, id, subtype) {
            $('.tooltip').remove();

            var url = '/slide/asset/list/';

            url += '?type=' + type;
            url += '&id=' + id;
            url += '&subtype=' + subtype;

            initSection($container, url, true);

            localStorage.setItem('get_assets_tree_url', url);

        }

        function initSection($container, url_from, show_loading){

            if (show_loading == undefined){
                show_loading = true;
            }

            if (show_loading){
                var loading_class = 'whirl traditional';

                $container.css({'minHeight': '20%'});
                $container.addClass(loading_class);
            }


            $.get(url_from, function (response) {

                if (response.success){

                    $container.html(response.html_content);

                    if (show_loading){
                        $container.css('minHeight', '');
                        $container.removeClass(loading_class);
                    }

                }

            });

        }
        $(document).ready(function(){
            initTooltipBottom();
        })

    </script>

{#</div>#}