 <form id="choose-layout-form" method="post" action="#" data-parsley-validate="" novalidate="">
     <!-- START panel-->
     <div class="panel panel-default">

         <div class="panel-heading">
             <div class="panel-title">Layouts</div>
         </div>

        <div class="panel-body">

            <div class="btn-group" data-toggle="buttons">
                {% for layout in layouts %}

                    <label data-layout-id={{ layout.id }} class="pv text-center btn btn-default layout" style="border-color: white">
                        <div>
                            <div class="background_cover" style="width: 60px; height: 60px; background-image: url('{{ layout.get_thumbnail }}')"></div>
                        </div>
                        <div>
                            {{ layout.title|slice:":10" }}
                        </div>
                        <input class="" type="radio" name="layout" value="{{ layout.id }}">
                    </label>

                {% endfor %}
            </div>

        </div>
     </div>
     <!-- END panel-->
 </form>