{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Countries{% endblock %}</title>
</head>
<body>

    {% block content_title %}All Countries{% endblock %}
    {% block content %}
       <div class="row">
          <div class="col-lg-12">
             <div class="panel panel-default">
                <div class="table-responsive">
                   <table id="datatable4" class="table table-striped">
                      <thead>
                         <tr>
                            <th style="width:30%">Title</th>
                            <th style="width:60%">Features</th>
                             <th style="width:10%"></th>
                         </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>

    {% endblock %}

    {% block extra_scripts %}

{#        <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">#}
{#        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>#}

        <script>
            $('#datatable4').dataTable({
{#                responsive: true,#}
                "iDisplayLength": 25,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                sAjaxSource: '/country/list/table/',
                aoColumns: [
                  { mData: 'title' },
                  { mData: 'features' },
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var country_id = aData['id'];
                    var $country_id_td = $(nRow).find('td:eq(2)');


                    // Country delete section
                    $country_id_td.html(
                        '<a href="' + country_id + '" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>' +
                        '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="country_delete(' + country_id + ', this)"></em>'
                    );

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                  }
            });

            function country_delete(country_id, self){

                bootbox.dialog({
                  message: "Country will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/country/delete/', {'country_id': country_id}, function(response){

                            if(response.success){
                                if ($(self) != undefined){

                                    var $user_table = $('#datatable4').dataTable();
                                    var $tr = $(self).closest('tr').get(0);
                                    $user_table.fnDeleteRow($user_table.fnGetPosition($tr));

                                }
                            }

                        })
                      }
                    }
                  }
                });

            }

        </script>

    {% endblock %}

</body>
</html>