{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Edit Country{% endblock %}</title>
</head>
<body>

    {% block content_title %}Edit Country{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-5">
                 <form id="add-country-form" method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">
{#                        <div class="panel-heading">#}
{#                           <div class="panel-title">Form Register</div>#}
{#                        </div>#}
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label">Title *</label>
                                <input value="{{ country.title }}" type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Features</label>
                                <textarea rows="10" name="features" class="form-control">{{ country.features }}</textarea>
                            </div>

                            <input id="country_id" type="hidden" value="{{ country.id }}" name="country_id">

                            <div class="required">* Required fields</div>

                        </div>
                        <div class="panel-footer">
                           <div class="clearfix">
                              <div class="pull-right">
                                 <button type="submit" class="btn btn-primary">Save</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- END panel-->
                 </form>
            </div>

            <div class="col-lg-7">
                 <div class="panel panel-default">

                     <div class="panel-heading">
                        <div class="panel-title">State/Province</div>
                     </div>

                     <div class="panel-body">

                         <button type="submit" class="btn btn-primary" onclick="createState();">Add State</button>

                         <div class="table-responsive">
                           <table id="states-datatable" class="table table-striped">
                              <thead>
                                 <tr>
                                     <th style="width:90%">Title</th>
{#                                     <th style="width:30%">Has Price List</th>#}
                                     <th style="width:10%"></th>
                                 </tr>
                              </thead>
                              <tbody></tbody>
                           </table>
                        </div>
                     </div>

                 </div>
            </div>

        </div>

    {% endblock %}

    {% block extra_scripts %}

        <script>

            $('#add-country-form').submit(function(e){
                e.preventDefault();

                var $form = $(this);
                var data = $form.serialize();

                if (!$form.parsley().isValid()){
                    return ;
                }


                $.post('/country/add/save/', data, function (response) {

                    if (response.success) {

                        // reset form after successful save

{#                        $form[0].reset();#}

                        // show up any successful notification here
                        notifyShow("Country has been successfully updated!");

                    } else {

                        bootbox.dialog({
                            className: 'error',
                            message: response.errors,
                            title: "Error",
                            buttons: {
                                Ok: {
                                    label: "Ok",
                                    className: "btn-primary",
                                    callback: function() {
                                        bootbox.hideAll();
                                    }
                                }
                            }
                        });

                    }
                })

            });


            $('#states-datatable').dataTable({
                responsive: true,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                "iDisplayLength": 25,
                "bLengthChange": false,
                sAjaxSource: '/state/list/table/?country_id=' + {{ country.id }},
                aoColumns: [
                  { mData: 'title' },
{#                  { mData: 'has_price_list' },#}
                  { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var state_id = aData['id'];
                    var $state_id_td = $(nRow).find('td:eq(1)');

                    // State delete section

                    var state_id_td_str = '';

                    state_id_td_str += '<a href="/state/list/' + state_id + '/" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>';
                    state_id_td_str += '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="state_delete(' + state_id + ', this)"></em>';

                    $state_id_td.html(state_id_td_str);

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                }
            });

            function state_delete(state_id, self){

                bootbox.dialog({
                  message: "State/Province will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/state/delete/', {'state_id': state_id}, function(response){

                            if ($(self) != undefined){

                                var $state_table = $('#states-datatable').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $state_table.fnDeleteRow($state_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }


            function createState(){

                openDialog('/state/add/popup/', 'some_id_here', {
                    title: "New State/Province Information",
                    message: 'asd',
                    buttons: {
                        Cancel: {
                            label: "Cancel",
                            className: "btn-primary",
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        Save: {
                            label: "Create",
                            className: "btn-primary",
                            callback: function() {

                                var state_data = $('#add-state-form').serialize();
                                var country_id = $('#country_id').val();

                                state_data += '&country_id=' + country_id;

                                $.post('/state/add/save/', state_data, function(response){

                                    if (response.success){
                                        var oTable = $('#states-datatable').dataTable();
                                        oTable.fnReloadAjax();
                                    }

                                })
                            }
                        }
                    }
                }, function(){
{#                    var $container = $('.bootbox.modal');#}
{#                    var $body = $container.find('.modal-body');#}
{#                    var $asset_id_input = $body.find('input[value="' + asset_id + '"]');#}
{##}
{#                    $asset_id_input.parents('label').first().click();#}
                });
            }

        </script>

    {% endblock %}

</body>
</html>