{% extends 'web-admin/pages/base.html' %}
{% load jfutags %}
{% load staticfiles %}
{% load extras %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Edit Slide{% endblock %}</title>

    {% block extra_css %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <link rel="stylesheet" href="{% static 'css/external/wysihtml5/bootstrap3-wysihtml5.css' %}?v={% random_number %}">
        <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/external/colorpicker/css/colorpicker.css' %}?v={% random_number %}" />
        <link href='//fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>


        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/blueimp-gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/jquery.fileupload.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/jquery.fileupload-ui.css' %}">

        <noscript>
            <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/jquery.fileupload-ui-noscript.css' %}">
        </noscript>


    {% endblock %}

</head>
<body>

    {% block content_title %}Edit Slide{% endblock %}
    {% block content %}

        <div class="row">

            <div class="col-lg-6">
                 <form id="slide-options-form" method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">

                         <div class="panel-heading">
                             <div class="panel-title">Options</div>
                         </div>

                        <div class="panel-body">

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" >Title *</label>
                                    <input value="{{ slide.title }}" id="options_title_input" type="text" name="title" required="" class="form-control" data-parsley-id="1429" ><ul class="parsley-errors-list" id="parsley-id-1429"></ul>
                                </div>

{#                                <div class="form-group">#}
{#                                    <label class="control-label">Language</label>#}
{#                                    <select class="chosen" name="language">#}
{#                                        {% for language in languages %}#}
{#                                            <option value="{{ language.id }}">{{ language.title }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
                            </div>

                            <div class="col-lg-6">

                                <div class="form-group">
                                    <label class="control-label">Brand</label>
                                    <select class="chosen brand" name="brand">
                                        <option value="">-</option>
                                        {% for brand in brands %}
                                            <option {% if brand == slide.brand %}selected{% endif %} value="{{ brand.id }}">{{ brand.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

{#                                <div class="form-group">#}
{#                                    <label class="control-label">Range</label>#}
{#                                    <select class="chosen" name="range">#}
{#                                        <option value="">-</option>#}
{#                                        {% for range in ranges %}#}
{#                                            <option value="{{ range.id }}">{{ range.title }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}
{##}
{#                                <div class="form-group">#}
{#                                    <label class="control-label">SKU</label>#}
{#                                    <select class="chosen" name="sku">#}
{#                                        <option value="">-</option>#}
{#                                        {% for sku in skus %}#}
{#                                            <option value="{{ sku.id }}">{{ sku.title }}</option>#}
{#                                        {% endfor %}#}
{#                                    </select>#}
{#                                </div>#}

                            </div>

                            <div class="col-lg-12 required">* Required fields</div>

                            {% if presentations_involved_names %}

                                <div class="col-lg-12">
                                    <hr>
                                    Slideshows involved: <br/>
                                    {% for presentation_involved_name in presentations_involved_names  %}
                                        <div class="label label-primary" style="display: block; margin-bottom: 2px; text-align: left;">{{ presentation_involved_name }}</div>
                                    {% endfor %}

                                </div>

                            {% endif %}

                        </div>
{#                        <div class="panel-footer">#}
{#                           <div class="clearfix">#}
{#                              <div class="pull-right">#}
{#                                 <button type="submit" class="btn btn-primary">Save</button>#}
{#                              </div>#}
{#                           </div>#}
{#                        </div>#}
                     </div>
                     <!-- END panel-->
                    <input type="hidden" value="{{ slide.id }}" name="slide_id" id="slide_id">
                 </form>
            </div>

            <div class="col-lg-6 layouts">

            </div>

        </div>

        <div class="row">
            <div class="col-lg-6">
                <button type="submit" class="btn btn-primary btn-lg wide" onclick="showUploadAssetsPopup();">Upload New Assets</button>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6" id="slide_elements">

                <form id="slide-elements-form" method="post" action="#" data-parsley-validate="" novalidate="">
                     <!-- START panel-->
                     <div class="panel panel-default">

                         <div class="panel-heading">
                             <div class="panel-title" id="slide_title_capture"></div>
                         </div>

                        <div class="panel-body ajax_content">



                        </div>

                     </div>
                     <!-- END panel-->

                    <input type="hidden" name="slide_preview_width" id="slide_preview_width">

                </form>

{#                <div class="col-lg-12">#}
{#            </div>#}
{#            <button type="button" class="btn btn-success btn-lg wide" onclick="snapShot();">Generate Slide Thumbnail</button>#}

            </div>


{#            <div class="col-lg-6" id="slide_preview">#}
{##}
{#                <!-- START panel-->#}
{#                 <div class="panel panel-default">#}
{##}
{#                     <div class="panel-heading">#}
{#                         <div class="panel-title">Slide Preview</div>#}
{#                     </div>#}
{##}
{#                    <div class="panel-body">#}
{##}
{##}
{##}
{#                    </div>#}
{##}
{#                 </div>#}
{#                 <!-- END panel-->#}
{##}
{#            </div>#}

        </div>

        <div class="row">
            <div class="col-lg-12" id="slide_preview">

                <!-- START panel-->
                 <div class="panel panel-default">

                     <div class="panel-heading">
                         <div class="panel-title">Slide Preview</div>
                     </div>

                    <div class="panel-body">



                    </div>

                 </div>
                 <!-- END panel-->

                <button type="submit" disabled class="save_slide_btn btn btn-success btn-lg wide visible-lg" onclick="saveSlide();">Save Slide</button>

            </div>


{#            <div class="col-lg-12">#}
{#                <button type="submit" class="btn btn-success btn-lg wide visible-lg" onclick="saveSlide();">Save Slide</button>#}
{#            </div>#}

        </div>

        <div class="row hidden-lg">
            <div class="col-lg-12">
                <button type="submit" disabled class="save_slide_btn btn btn-success btn-lg wide" onclick="saveSlide();">Save Slide</button>
            </div>
        </div>

        <form id="slide-thumbnail-form">
            <input type="hidden" name="slide_thumbnail" id="slide-thumbnail-input">
        </form>

    {% endblock %}

    {% block extra_scripts %}

        <script src="{% static 'js/external/html2canvas/html2canvas.js' %}?v={% random_number %}"></script>
        <script src="{% static 'js/external/wysihtml5/bootstrap3-wysihtml5.all.js' %}?v={% random_number %}"></script>
        <script type="text/javascript" src="{% static 'js/external/colorpicker/colorpicker.js' %}?v={% random_number %}"></script>

        <script>

            $(document).on('change', '.brand', function(){

                var brand_id = $(this).find('option:selected').val();
                initLayoutsSection(brand_id, {{ slide.layout.id }});

            });

            $(document).ready(function(){
               $('.brand').change();
            });

            function hide_ios_buttons(){
                var $ios_buttons = $('.ios_button');

                $ios_buttons.each(function(){
                    var fake_id = $(this).data('fake-id');

                    $('.slide_preview').find('[data-fake-id=' + fake_id + ']').hide();

                })
            }

            function show_ios_buttons(){
                var $ios_buttons = $('.ios_button');

                $ios_buttons.each(function(){
                    var fake_id = $(this).data('fake-id');

                    $('.slide_preview').find('[data-fake-id=' + fake_id + ']').show();

                })
            }

            function createSlideThumbnail() {

                hide_ios_buttons();

                var scrollPos = document.body.scrollTop;
                html2canvas($('.slide_preview'), {
                    background: '#fff',
                    onrendered: function(canvas) {
                        $('#slide-thumbnail-input').val(canvas.toDataURL("image/jpeg", 1));
                        window.scrollTo(0,scrollPos);
                        show_ios_buttons();
                    }
                })
            }

            function initElementsSection(){

                var $container = $('#slide_elements').find('.panel-body');
                var url_from = '/slide/elements/view/';

                var $layout_form = $('#choose-layout-form');
                var layout_opts = $layout_form.serialize();

                var slide_id = $('#slide_id').val();

                url_from += '?';
                url_from += layout_opts;
                url_from += '&slide_id=' + slide_id;

                initSection($container, url_from, false);

            }

            function initSection($container, url_from, show_loading, success_callback){

                if (show_loading == undefined){
                    show_loading = true;
                }

                if (show_loading){
                    var loading_class = 'whirl traditional';

                    $container.css({'minHeight': '20%'});
                    $container.addClass(loading_class);
                }


                $.get(url_from, function (response) {

                    if (response.success){

                        $container.html(response.html_content);

                        if (show_loading){
                            $container.css('minHeight', '');
                            $container.removeClass(loading_class);
                        }

                        if (success_callback != undefined){
                            success_callback();
                        }

                    }

                });

            }

            function initSectionPOST($container, url_from, show_loading, data){

                if (show_loading == undefined){
                    show_loading = true;
                }

                if (show_loading){
                    var loading_class = 'whirl traditional';

                    $container.css({'minHeight': '20%'});
                    $container.addClass(loading_class);
                }


                $.post(url_from, data, function (response) {

                    if (response.success){

                        $container.html(response.html_content);

                        if (show_loading){
                            $container.css('minHeight', '');
                            $container.removeClass(loading_class);
                        }

                        fakeList();

                    }

                });

            }

            function parseURL(str){
                var arr = str.split(' ');
                return $.grep(arr, function(n, i){
                    return n.match(/:\/\//);
                })[0]
            }

            function showSlideAssetsPopup(self, link_file_to){

                if (link_file_to == undefined){
                    link_file_to = false;
                }

                var $self = $(self);
                var fake_id = $(self).data('fake-id');
                var property = $(self).data('property');
                var asset_id = $(self).data('asset-id');
                var id = $(self).attr('id');

                var $data_input = $(self).siblings('#'+fake_id);

                var options = {
                    message: 'Getting list of files ...',
                    title: "Choose file",
                    buttons: {
                        Cancel: {
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        'Choose': {
                            className: "btn-primary",
                            callback: function(e) {

                                var $container = $('.bootbox.modal');
                                var $body = $container.find('.modal-body');

                                var $active_li = $body.find('.easytree-active').filter(function(index){

                                    return $(this).prop('class').match(/:\/\//);

                                });

                                if ($active_li.length == 0){
                                    return false;
                                }

                                var asset_url_selected = parseURL($active_li.prop('class'));
{#                                var asset_id_selected = $active_input.val();#}
                                var max_length = 30;

{#                                var asset_width = $active_input.data('width');#}
{#                                var asset_height = $active_input.data('height');#}

{#                                $self.data('asset-id', asset_id_selected);#}
{#                                $self.data('width', asset_width);#}
{#                                $self.data('height', asset_height);#}
                                if (link_file_to){
                                    var $bttn = $self.parents('.form-group').first().find('#'+id+'-1');
                                    $bttn.data('action', asset_url_selected);
                                }else{
                                    $self.data('file_url', asset_url_selected);
                                }

                                var filename = asset_url_selected.substring(asset_url_selected.lastIndexOf('/')+1);

                                if(filename.length > max_length){
                                    filename = '...' + filename.slice(-max_length);
                                }

                                $self.text(filename);

                                initSlidePreviewSection();

                                bootbox.hideAll();
                            }
                        }
                    }
                };
                var url = '/slide/asset/list/';
{#                var url_in_memory = localStorage.getItem('get_assets_tree_url');#}
{#                if (url_in_memory !== null){#}
{#                    url = url_in_memory;#}
{#                }#}

                openDialog(url, 'some_id_here', options, function(){
{#                    var $container = $('.bootbox.modal');#}
{#                    var $body = $container.find('.modal-body');#}
{#                    var $asset_id_input = $body.find('input[value="' + asset_id + '"]');#}
{##}
{#                    $asset_id_input.parents('label').first().click();#}
                });

            }


            function showSlideAssetsPopup_old(self, link_file_to){

                if (link_file_to == undefined){
                    link_file_to = false;
                }

                var $self = $(self);
                var fake_id = $(self).data('fake-id');
                var property = $(self).data('property');
                var asset_id = $(self).data('asset-id');
                var id = $(self).attr('id');
                var max_length = 30;

                var $data_input = $(self).siblings('#'+fake_id);

                var options = {
                    message: 'Getting list of files ...',
                    title: "Choose file",
                    buttons: {
                        Cancel: {
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        'Choose': {
                            className: "btn-primary",
                            callback: function() {

                                var $container = $('.bootbox.modal');
                                var $body = $container.find('.modal-body');
                                var $active_input = $body.find('label.active').find('input[name="url"]');
                                var asset_url_selected = $active_input.data('url');
                                var asset_id_selected = $active_input.val();

{#                                var asset_width = $active_input.data('width');#}
{#                                var asset_height = $active_input.data('height');#}

                                $self.data('asset-id', asset_id_selected);
{#                                $self.data('width', asset_width);#}
{#                                $self.data('height', asset_height);#}
                                if (link_file_to){
                                    var $bttn = $self.parents('.form-group').first().find('#'+id+'-1');
                                    $bttn.data('action', asset_url_selected);
                                }else{
                                    $self.data('file_url', asset_url_selected);
                                }

                                var filename = asset_url_selected.substring(asset_url_selected.lastIndexOf('/')+1);

                                if(filename.length > max_length){
                                    filename = '...' + filename.slice(-max_length);
                                }

                                $self.text(filename);

                                initSlidePreviewSection();

                                bootbox.hideAll();
                            }
                        }
                    }
                };
                var url = '/slide/asset/list/';
                var url_in_memory = localStorage.getItem('get_assets_tree_url');
                if (url_in_memory !== null){
                    url = url_in_memory;
                }

                openDialog(url, 'some_id_here', options, function(){
                    var $container = $('.bootbox.modal');
                    var $body = $container.find('.modal-body');
                    var $asset_id_input = $body.find('input[value="' + asset_id + '"]');

                    $asset_id_input.parents('label').first().click();
                });

            }

            function initSlidePreviewSection() {

                $('.save_slide_btn').attr('disabled', true);

                setupSlidePreviewWidth();

                var $container = $('#slide_preview').find('.panel-body');
                var data = $('#slide-elements-form').serialize();
                data += '&slide_elements=' + encodeURIComponent(setupElementsData());

                initSectionPOST($container, '/slide/asset/preview/', true, data);

            }

            function applyText(self) {

{#                self = $(self);#}
{##}
{#                var fake_id = self.data('fake-id');#}
{#                var $textarea = $('#'+fake_id);#}
{##}
{#                $textarea.find()#}

                initSlidePreviewSection();
{#                fakeList();#}
            }

            function setupSlidePreviewWidth() {
                var width = $('#slide_preview').find('.panel-body').width();
                $('#slide_preview_width').val(width);
            }


            $(document).on('change', '.layout', function(){
                initElementsSection();
            });

            function initLayoutsSection(brand_id, preselect_layout_id){

                var $container = $('.layouts');
                var url_from = '/slide/layouts/view/';

                url_from += '?';
                url_from += 'brand_id=' + brand_id;

                $('#slide_elements').find('.ajax_content').html('');

                if(brand_id == ''){
                    $container.children().remove();
                }else {

                    initSection($container, url_from, false, function () {

                        if (preselect_layout_id != undefined){

                            $container.find('[data-layout-id=' + preselect_layout_id + ']').click()

                        } else {
                            // choose first layout on block load
                            $container.find('.layout').first().click();
                        }

                    });
                }

            }


{#            $('#slide_elements').on('init_preview', function(){#}
{#                if (previewCanStart()) {#}
{#                    initSlidePreviewSection();#}
{#                }#}
{#            });#}


{#            $(window).on('resize', function(){#}
{##}
{#                if (previewCanStart()){#}
{##}
{#                    setupSlidePreviewWidth();#}
{#                    initSlidePreviewSection();#}
{#                }#}
{##}
{#            });#}

            $(document).on('keyup', '#options_title_input', function(){
                $('#slide_title_capture').html($(this).val());
            });

            function previewCanStart() {

                var $container = $('#slide_elements').find('.ajax_content');
                var $hidden_inputs = $container.find('input[type="hidden"]');
                var $valid_inputs = $hidden_inputs.filter(function() { return $(this).val() != ""; });

                return $valid_inputs.length != 0
            }

            function setupElementsData() {
                var $data = $('.data');
                var data_list = [];

                $data.each(function (index, obj) {

                    obj = $(obj);

                    var content = obj.data('content');
                    var file_url = obj.data('file_url');

                    if (obj.is("textarea")) {
                        content = obj.val();
                    }

                    if (content || file_url){

                        data_list.push({
                            'element_id': obj.data('element_id'),
                            'content': content,
                            'file_url': file_url,
                            'x': obj.data('x'),
                            'y': obj.data('y'),
                            'width': obj.data('width'),
                            'height': obj.data('height'),
                            'z_index': obj.data('z_index'),
                            'resizable': obj.data('resizable'),
                            'movable': obj.data('movable'),
                            'content_type': obj.data('content_type'),
                            'action': obj.data('action'),
                            'fake_id': obj.data('fake-id'),
                            'bullet_color': obj.data('bullet_color'),
                            'font_family': obj.data('font-family'),
                            'line_height': obj.data('line_height'),
                            'text_align': obj.data('text_align'),
                            'vertical_align': obj.data('vertical_align'),
                            'font_size': obj.data('font_size'),
                            'font_color': obj.data('font_color'),
                            'font_id': obj.data('font_id'),
                            'label': obj.data('label'),
                            'property': obj.data('property')
{#                            'link_to_url': obj.data('link-to-url')#}
                        })
                    }

                });

                return $.toJSON(data_list)
            }

            function fakeList(){
                $("#slide_preview ul").each(function(){
                    var replica = $("<div class='itb-list itb-unordered-list'></div>");
                    replica.addClass($(this).attr("class"));

                    $(this).find("li").each(function() {

                        var bullet_color_hex = $(this).parents('.background').first().data('bullet_color');

                        var item = $("<div class='itb-list-item'></div>");
                        item.addClass($(this).attr("class"));
                        item.html("<div class='itb-list-item-prefix' style='color:" + bullet_color_hex +"'>&bullet;&nbsp;</div>" +
                                  "<div class='itb-list-item-content'>" + $(this).html() + "</div>");

                        var $li = $(this);

                         var span_class = $li.filter(function(){
                             var classes = this.className.split(' ');
                             for (var i = 0, len = classes.length; i < len; i++)
                                 if (/^wysiwyg-color/.test(classes[i])) return false;
                             return true;
                         }).find('span').filter(function() {
                             var classes = this.className.split(' ');
                             for (var i = 0, len = classes.length; i < len; i++)
                                 if (/^wysiwyg-color/.test(classes[i])) return true;
                             return false;
                         }).first().attr('class');

                            replica.addClass(span_class);

                        replica.append(item);
                    });

                    $(this).replaceWith(replica);
                    //$(document.body).append(replica);
                });

                $("#slide_preview  ol").each(function(){
                    var replica = $("<div class='itb-list itb-ordered-list'></div>");
                    replica.addClass($(this).attr("class"));

                    $(this).find("li").each(function() {
                        var item = $("<div class='itb-list-item'></div>");
                        item.addClass($(this).attr("class"));
                        item.html(listItemText(this) + $(this).html());

                        item.html("<div class='itb-list-item-prefix'>" + listItemText(this) + "</div>" +
                                  "<div class='itb-list-item-content'>" + $(this).html() + "</div>");

                        replica.append(item);
                    });

                    $(this).replaceWith(replica);
                    //$(document.body).append(replica);
                });
            }

            function saveSlide(){

{#                if (!previewCanStart()){#}
{#                    return ;#}
{#                }#}
                blockUICss();

                createSlideThumbnail();
                setTimeout(function () {

                    var options = $('#slide-options-form').serialize();
                    var layout = $('#choose-layout-form').serialize();
                    var elements = $('#slide-elements-form').serialize();
                    var thumbnail = $('#slide-thumbnail-form').serialize();

                    var data = '';
                    data += options + '&';
                    data += layout + '&';
                    data += elements + '&';
                    data += thumbnail + '&';
                    data += 'slide_elements=' + encodeURIComponent(setupElementsData()) +'&';

                    $.post('/slide/add/save/', data, function(response){
                        $.unblockUI();

                        if (response.success){

                            notifyShow("Slide has been successfully created!");
{#                            $('#slide_preview').find('.panel-body').html('');#}

                        }else{
                            bootbox.dialog({
                                className: 'error',
                                message: response.errors,
                                title: "Error",
                                buttons: {
                                    Ok: {
                                        label: "Ok",
                                        className: "btn-primary",
                                        callback: function() {
                                            bootbox.hideAll();
                                        }
                                    }
                                }
                            });
                        }
                    })

                }, 2000);

            }

            function showUploadAssetsPopup(){

                var options = {
                    message: 'Getting list of files ...',
                    title: "Choose file",
                    className: "medium",
                    buttons: {
                        'Close': {
                            callback: function() {
                                bootbox.hideAll();
                            }
                        }
                    }
                };
                var url = '/slide/asset/upload/popup/';

                openDialog(url, 'some_id_here', options, function(){

{#                    var $container = $('.bootbox.modal');#}
{#                    var $body = $container.find('.modal-body');#}

                });

            }

        </script>

        <script src="{% static 'js/external/jquery-fileupload/jquery.ui.widget.js' %}"></script>

        <script src="{% static 'js/external/jquery-fileupload/tmpl.min.js' %}"></script>

        <script src="{% static 'js/external/jquery-fileupload/load-image.min.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/canvas-to-blob.min.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.blueimp-gallery.min.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-process.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-image.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-audio.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-video.js' %}"></script>

        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-validate.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-ui.js' %}"></script>

    {% endblock %}

</body>
</html>