{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Slides{% endblock %}</title>
</head>
<body>

    {% block content_title %}All Slides{% endblock %}
    {% block content %}
       <div class="row">
          <div class="col-lg-12">
             <div class="panel panel-default">
                <div class="table-responsive">
                   <table id="datatable4" class="table table-striped">
                      <thead>
                         <tr>
                            <th style="width:5%">ID</th>
                            <th style="width:20%">Title</th>
                            <th style="width:12%">Brand</th>
                            <th style="width:12%">Range</th>
                            <th style="width:12%">SKU</th>
                            <th style="width:15%">Preview</th>
                            <th style="width:14%">Author</th>
                            <th style="width:10%"></th>
                         </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>

    {% endblock %}

    {% block extra_scripts %}

{#        <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">#}
{#        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>#}

        <script>
            $('#datatable4').dataTable({
{#                responsive: true,#}
                "iDisplayLength": 25,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                sAjaxSource: '/slide/list/table/',
                aoColumns: [
                    { mData: 'id' },
                    { mData: 'title' },
                    { mData: 'brand' },
                    { mData: 'range' },
                    { mData: 'sku' },
                    { mData: 'preview' },
                    { mData: 'author' },
                    { mData: 'id',  'bSortable': false }
                ],
                "createdRow": function( nRow, aData){

                    var slide_id = aData['id'];
                    var $slide_id_td = $(nRow).find('td:eq(7)');

                    var preview_url = aData['preview'];
                    var $slide_preview_td = $(nRow).find('td:eq(5)');

                    $slide_preview_td.html('<img width="107" height="80" src=' + preview_url + ' />');

                    // Slide delete section
                    $slide_id_td.html(
                        '<a href="' + slide_id + '" target="_blank"><em data-toggle="tooltip" data-original-title="Edit" class="fa fa-edit"></em></a>' +
                        '<em data-toggle="tooltip" data-original-title="Copy" class="fa fa-copy" onclick="slide_copy(' + slide_id + ')"></em>' +
                        '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="slide_delete(' + slide_id + ', this)"></em>'
                    );
                    $slide_id_td.addClass('slide_actions');

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                }
            });

            function slide_delete(slide_id, self){

                bootbox.dialog({
                  message: "Slide will be permanently deleted. Are you sure?",
                  title: "Confirmation",
                  buttons: {
                    Cancel: {
                      label: "Cancel",
                      className: "btn-primary",
                      callback: function() {
                        bootbox.hideAll();
                      }
                    },
                    Yes: {
                      label: "Yes, I am.",
                      className: "btn-danger",
                      callback: function() {
                        $.post('/slide/delete/', {'slide_id': slide_id}, function(response){

                            if ($(self) != undefined){

                                var $slide_table = $('#datatable4').dataTable();
                                var $tr = $(self).closest('tr').get(0);
                                $slide_table.fnDeleteRow($slide_table.fnGetPosition($tr));

                            }

                        })
                      }
                    }
                  }
                });

            }

            function slide_copy(slide_id){
                $.post('/slide/copy/', {'slide_id': slide_id}, function(response){

                    var $slide_table = $('#datatable4').dataTable();

                    $slide_table.fnReloadAjax();

                })
            }

        </script>

    {% endblock %}

</body>
</html>
