{% extends 'web-admin/pages/base.html' %}
{% load jfutags %}
{% load staticfiles %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Add Assets{% endblock %}</title>

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/blueimp-gallery.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/jquery.fileupload.css' %}">
        <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/jquery.fileupload-ui.css' %}">

        <noscript>
            <link rel="stylesheet" href="{% static 'css/external/jquery-fileupload/css/jquery.fileupload-ui-noscript.css' %}">
        </noscript>

        <!-- JQUERY-->
        <script src="{% static 'js/external/jquery/jquery.js' %}"></script>

    {% endblock %}

</head>
<body>

    {% block content_title %}Add new Assets{% endblock %}
    {% block content %}

        <div class="row">

            {% jfu 'web-admin/pages/asset/upload_base.html' %}

        </div>
{#        <select class="chosen">{% for brand in brands %}#}
{#            <option value='{{ brand.id }}' data-type='brand'>{{ brand.title }}</option>#}
{#            {% for range in brand.brand_ranges.all|dictsort:"title" %}#}
{#                <option class='child-1' value='{{ range.id }}' data-type='range'>{{ range.title }}</option>#}
{#                {% for sku in range.range_sku.all|dictsort:"title" %}#}
{#                    <option class='child-2' value='{{ sku.id }}' data-type='sku'>{{ sku.title }}</option>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        {% endfor %}</select>#}
        <input type="hidden" name="brands" id="brands_tree_picker" value="<select class='chosen'>{% for brand in brands %}

            <option disabled value='{{ brand.id }}' data-type='brand' data-subtype=''>{{ brand.title }}</option>
            <option class='child-1' value='{{ brand.id }}' data-type='brand' data-subtype='documents'>Documents</option>
            <option class='child-1' value='{{ brand.id }}' data-type='brand' data-subtype='images'>Images</option>

            {% for range in brand.brand_ranges.all|dictsort:"title" %}

                <option disabled class='child-1' value='{{ range.id }}' data-subtype='' data-type='range'>{{ range.title }}</option>
                <option class='child-2' value='{{ range.id }}' data-type='range' data-subtype='documents'>Documents</option>
                <option class='child-2' value='{{ range.id }}' data-type='range' data-subtype='images'>Images</option>

                {% for sku in range.range_sku.all|dictsort:"title" %}

                    <option disabled class='child-2' value='{{ sku.id }}' data-subtype='' data-type='sku'>{{ sku.title }}</option>
                    <option class='child-3' value='{{ sku.id }}' data-type='sku' data-subtype='documents'>Documents</option>
                    <option class='child-3' value='{{ sku.id }}' data-type='sku' data-subtype='images'>Images</option>

                {% endfor %}
            {% endfor %}
        {% endfor %}</select>">

    {% endblock %}

    {% block extra_scripts %}

        <script src="{% static 'js/external/jquery-fileupload/jquery.ui.widget.js' %}"></script>

        <script src="{% static 'js/external/jquery-fileupload/tmpl.min.js' %}"></script>

        <script src="{% static 'js/external/jquery-fileupload/load-image.min.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/canvas-to-blob.min.js' %}"></script>
{#        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>#}
        <script src="{% static 'js/external/jquery-fileupload/jquery.blueimp-gallery.min.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.iframe-transport.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-process.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-image.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-audio.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-video.js' %}"></script>

        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-validate.js' %}"></script>
        <script src="{% static 'js/external/jquery-fileupload/jquery.fileupload-ui.js' %}"></script>

{#        <script type="text/javascript">#}
{#            $( function() {#}
{#                'use strict';#}
{##}
{#                var formData = $('#fileupload').serializeArray();#}
{#                formData.push(#}
{#                    { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}" }#}
{#                );#}
{##}
{#                $('#fileupload').fileupload({#}
{##}
{#                    formData: formData,#}
{#                    sequentialUploads: true,#}
{#                    dropZone: $('#dropzone')#}
{##}
{#                });#}
{##}
{#            });#}
{#        </script>#}
{##}
{#        <script>#}
{#        $(document).bind('dragover', function (e) {#}
{#            var dropZone = $('#dropzone'),#}
{#                timeout = window.dropZoneTimeout;#}
{#            if (!timeout) {#}
{#                dropZone.addClass('in');#}
{#            } else {#}
{#                clearTimeout(timeout);#}
{#            }#}
{#            var found = false,#}
{#                node = e.target;#}
{#            do {#}
{#                if (node === dropZone[0]) {#}
{#                    found = true;#}
{#                    break;#}
{#                }#}
{#                node = node.parentNode;#}
{#            } while (node != null);#}
{#            if (found) {#}
{#                dropZone.addClass('hover');#}
{#            } else {#}
{#                dropZone.removeClass('hover');#}
{#            }#}
{#            window.dropZoneTimeout = setTimeout(function () {#}
{#                window.dropZoneTimeout = null;#}
{#                dropZone.removeClass('in hover');#}
{#            }, 1000);#}
{#        });#}
{#        </script>#}

        <!--[if gte IE 8]>
{#        <script src="{{ STATIC_URL }}js/cors/jquery.xdr-transport.js"></script>#}
        <![endif]-->

    {% endblock %}

</body>
</html>