{% extends 'web-admin/pages/base.html' %}

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>{% block title %}Assets{% endblock %}</title>
</head>
<body>

    {% block content_title %}All Assets{% endblock %}
    {% block content %}
       <div class="row">
          <div class="col-lg-12">
             <div class="panel panel-default">
                <div class="table-responsive">
                   <table id="datatable4" class="table table-striped">
                      <thead>
                         <tr>
                             <th style="width:20%">Thumbnail</th>
                             <th style="width:30%">Title</th>
                             <th style="width:20%">Location</th>
                             <th style="width:20%">Date Uploaded</th>
                             <th style="width:10%"></th>
{#                             <th style="width:10%"></th>#}
                         </tr>
                      </thead>
                      <tbody></tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>

    {% endblock %}

    {% block extra_scripts %}

{#        <link rel="stylesheet" href="//cdn.datatables.net/responsive/1.0.4/css/dataTables.responsive.css">#}
{#        <script src="//cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>#}

        <script>
            $('#datatable4').dataTable({
{#                responsive: true,#}
                "iDisplayLength": 25,
                'paging':   true,  // Table pagination
                'ordering': true,  // Column ordering
                'info':     true,  // Bottom left status text
                sAjaxSource: '/asset/list/table/',
                aoColumns: [
                  { mData: 'thumbnail' },

                  { mData: 'title'},
                  { mData: 'location' },
                  { mData: 'date_created' },

                  { mData: 'id',  'bSortable': false },
                  { mData: 'file', "bVisible": false }
                ],
                "createdRow": function( nRow, aData){

                    var asset_id = aData['id'];
                    var $asset_id_td = $(nRow).find('td:eq(4)');

                    var asset_thumbnail_url = aData['thumbnail'];
                    var $asset_thumbnail_td = $(nRow).find('td:eq(0)');

                    var asset_location = aData['location'];
                    var $asset_location_td = $(nRow).find('td:eq(2)');

                    var asset_file_url = aData['file'];

                    // Asset delete section
                    $asset_id_td.html(
                        '<em data-toggle="tooltip" data-original-title="Delete" class="fa fa-remove" onclick="asset_delete(' + asset_id + ', this)"></em>'
                    );

{#                    console.log(asset_file_url );#}
                    // Asset Thumbnail section
                    $asset_thumbnail_td.html(
                        "<a target='_blank' href='" + asset_file_url + "'><div class='background_cover' style='width: 60px; height: 60px; background-image: url(" + asset_thumbnail_url + ");'></div></a>"
                    );

                    // Asset Location section
                    $asset_location_td.html(
                        '<em data-toggle="tooltip" data-original-title="' + asset_location + '">' + asset_location.slice(0,70) + '</em>'
                    );

                },
                "initComplete": function(settings, json) {
                    initTooltip();
                }
            });

            function asset_delete(asset_id, self){

                $.get('/asset/has_dependencies/', {'asset_id': asset_id}, function(response){

                    var slides_involved = response.slides_involved;
                    var message = "Asset will be permanently deleted. Are you sure?";

                    if (response.has_dependencies){
                        message = "<strong>The asset has dependencies within slides: \"" + slides_involved + "\". </strong><br/>Asset will be permanently deleted. Are you sure?";
                    }

                    bootbox.dialog({
                        message: message,
                        title: "Confirmation",
                        buttons: {
                            Cancel: {
                                label: "Cancel",
                                className: "btn-primary",
                                callback: function() {
                                    bootbox.hideAll();
                                }
                            },
                        Yes: {
                            label: "Yes, I am.",
                            className: "btn-danger",
                            callback: function() {
                                $.post('/asset/delete/', {'asset_id': asset_id}, function(response){

                                    if ($(self) != undefined){

                                        var $asset_table = $('#datatable4').dataTable();
                                        var $tr = $(self).closest('tr').get(0);
                                        $asset_table.fnDeleteRow($asset_table.fnGetPosition($tr));

                                    }

                                })
                            }
                            }
                        }
                    });

                });


            }

        </script>

    {% endblock %}

</body>
</html>