{% extends 'jfu/upload_form.html' %}

{% block CSS %}

{% endblock %}

{% block UPLOAD_FORM_LISTING %}

    <div id="dropzone" class="fade well">Drop files here or use "Add files..."</div>

    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="panel-title">Just added files:</div>
        </div>

        <div class="panel-body">

            <table role="presentation" class="table table-striped">
                <tbody class="files">
                </tbody>
            </table>

        </div>

    </div>

    {% if assets %}
        <div class="panel panel-default">

        <div class="panel-heading">
            <div class="panel-title">Recently added files:</div>
        </div>

        <div class="panel-body">

            <table role="presentation" class="table table-striped">
                <tbody class="db_files">
                    {% for asset in assets %}

                        <tr class="template-download fade in">
                            <td>
                                <span class="preview">
                                    <a href="{{ asset.url }}" title="{{ asset.name }}" download="{{ asset.name }}" data-gallery="">
                                        <img src="{{ asset.thumbnailUrl }}">
                                    </a>
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    <a href="{{ asset.url }}" title="{{ asset.name }}" download="{{ asset.name }}" data-gallery="">
                                        {{ asset.name }}
                                    </a>
                                </p>
                            </td>
                            <td>
                                <p>{{ asset.parent_title }}</p>
                            </td>
                            <td>
                                <span class="size">{{ asset.date_created_str }}</span>
                            </td>
                            <td>
        {#                        <button class="btn btn-danger delete" data-type="{{ asset.deleteType }}" data-data="{ &quot;csrfmiddlewaretoken&quot; : &quot;V6bWCU2UkJUzciv25DPWQe7lLEmGBpKZ&quot; }" data-url="{{ asset.deleteUrl }}">#}
        {#                            <i class="glyphicon glyphicon-trash"></i>#}
        {#                            <span>Delete</span>#}
        {#                        </button>#}
        {#                        <input type="checkbox" name="delete" value="1" class="toggle">#}
                            </td>

                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        </div>

    </div>
    {% endif %}
{% endblock %}




<script>

    {% block JS_JQUERY %}
    {% endblock %}

    {% block JS_JQUERY_UI_WIDGET %}
    {% endblock %}

    {% block JS_TEMPLATES_PLUGIN %}
    {% endblock %}

    {% block JS_LOAD_IMAGE %}
    {% endblock %}

    {% block JS_CANVAS_TO_BLOB %}
    {% endblock %}

    {% block JS_BOOTSTRAP %}
    {% endblock %}

    {% block JS_BLUEIMP_GALLERY %}
    {% endblock %}

    {% block JS_BOOTSTRAP_IFRAME_TRANSPORT %}
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD %}
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD_FP %}
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD_IMAGE %}
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD_AUDIO %}
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD_VIDEO %}
    {% endblock %}

    {% block JS_JQUERY_FILE_UPLOAD_VALIDATE %}
    {% endblock %}

    {% block JS_JQUERY_FILEUPLOAD_UI %}
    {% endblock %}

    {% block JS_INIT %}

        {% comment %}
        In order to support both CSRF tokens and extra form inputs,
        the upload form (assumed to have an id of "fileupload") is serialized
        to produce an array. This array is then updated with the csrf_token.

        The contents of the array are then sent as form data to the upload
        handling Django view.
        {% endcomment %}


        $('#fileupload').fileupload({

            {% block JS_OPTS %}
                sequentialUploads: true
            {% endblock %}

        }).on('fileuploadadd', function (e, data) {
            setTimeout(function () {
                var $parent = $('#fileupload');
{#                $parent.find('.brands_tree_picker').html($('#brands_tree_picker').val());#}
{#                $parent.find('.chosen').chosen();#}
            },100);
        }).on('fileuploadsubmit', function (e, data) {

            var $table_row = data.context;
            var $brand_tree_picker = $table_row.find('.brands_tree_picker');
            var $option = $brand_tree_picker.find('button');

            var subtype = $option.data('subtype');
            var type = $option.data('type');
            var id = $option.data('id');

            var formData = $('#fileupload').serializeArray();
            formData.push(
                { name: "csrfmiddlewaretoken", value: "{{ csrf_token }}" }
            );
            formData.push(
                { name: 'subtype', value: subtype }
            );

            formData.push(
                { name: 'type', value: type }
            );
            formData.push(
                { name: 'id', value: id }
            );
            data.formData = formData;

        });

        $(document).bind('dragover', function (e) {
            var dropZone = $('#dropzone'),
                timeout = window.dropZoneTimeout;
            if (!timeout) {
                dropZone.addClass('in');
            } else {
                clearTimeout(timeout);
            }
            var found = false,
                node = e.target;
            do {
                if (node === dropZone[0]) {
                    found = true;
                    break;
                }
                node = node.parentNode;
            } while (node != null);
            if (found) {
                dropZone.addClass('hover');
            } else {
                dropZone.removeClass('hover');
            }
            window.dropZoneTimeout = setTimeout(function () {
                window.dropZoneTimeout = null;
                dropZone.removeClass('in hover');
            }, 1000);
        });

    {% endblock %}

</script>

{% block JS_UPLOAD_TEMPLATE_PROGRESSBAR %}
    <td>
        <div class="brands_tree_picker">
            <button type="button" class="btn btn-primary" onclick="showAssetsTreePopupGeneral(this);">Choose Path</button>
        </div>
    </td>
    <td>
        <p class="size">Processing...</p>
        <div class="progress progress-striped active" role="progressbar"
                aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
        </div>
    </td>
{% endblock %}