{% load extras %}
{% load staticfiles %}

<html lang="en">

    <head>

        <title>{% block title %}{% endblock %}</title>

        <!--[if lt IE 9]>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
       <meta name="description" content="Bootstrap Admin App + jQuery">
       <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">

{#       {% block extra_css %}#}
{##}
{#       {% endblock %}#}

       <!-- =============== EXTERNAL STYLES ===============-->
       <!-- FONT AWESOME-->
       <link rel="stylesheet" href="{% static 'css/external/fontawesome/css/font-awesome.min.css' %}">
       <!-- SIMPLE LINE ICONS-->
       <link rel="stylesheet" href="{% static 'css/external/simple-line-icons/css/simple-line-icons.css' %}">
       <!-- ANIMATE.CSS-->
       <link rel="stylesheet" href="{% static 'css/external/animate/animate.min.css' %}">
       <!-- WHIRL (spinners)-->
       <link rel="stylesheet" href="{% static 'css/external/whirl/whirl.css' %}">
        <!-- DATETIMEPICKER-->
       <link rel="stylesheet" href="{% static 'css/external/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}">
       <!-- CHOSEN-->
       <link rel="stylesheet" href="{% static 'css/external/chosen_v1.2.0/chosen.min.css' %}">
       <!-- DATATABLES-->
       <link rel="stylesheet" href="{% static 'css/external/datatables-colvis/dataTables.colVis.css' %}">
       <link rel="stylesheet" href="{% static 'css/external/datatable-bootstrap/css/dataTables.bootstrap.css' %}">
       <!-- EASYTREE LION-->
       <link rel="stylesheet" href="{% static 'css/external/jquery-easy-tree/skin-lion/ui.easytree.css' %}">

       <!-- =============== APP STYLES ===============-->

       <!-- FONTS-->
       <link rel="stylesheet" href="{% static 'css/fonts.css' %}?v={% random_number %}">

       <link rel="stylesheet" href="{% static 'css/app.css' %}?v={% random_number %}" id="maincss">
       <!-- =============== MY CUSTOM APP STYLES ===============-->
       <link rel="stylesheet" href="{% static 'css/my_custom.css' %}?v={% random_number %}">

       {% block extra_css %}

       {% endblock %}

    </head>

    <body>

        <div class="wrapper">

            <!-- top navbar-->
            <header class="topnavbar-wrapper">
                <!-- START Top Navbar-->
                <nav role="navigation" class="navbar topnavbar">
                <!-- START navbar header-->
                <div class="navbar-header">
                   <a href="/" class="navbar-brand">
                      <div class="brand-logo">
                         <img src="{% static 'images/logo.png' %}" alt="App Logo" class="img-responsive">
                      </div>
                      <div class="brand-logo-collapsed">
                         <img src="{% static 'images/logo-single.png' %}" alt="App Logo" class="img-responsive">
                      </div>
                   </a>
                </div>
                <!-- END navbar header-->
                <!-- START Nav wrapper-->
                <div class="nav-wrapper">
                   <!-- START Left navbar-->
                   <ul class="nav navbar-nav">
                      <li>
                         <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                         <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
                            <em class="fa fa-navicon"></em>
                         </a>
                         <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                         <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
                            <em class="fa fa-navicon"></em>
                         </a>
                      </li>
                      <!-- START User avatar toggle-->
                      <li>
                         <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                         <a href="#user-block" data-toggle="collapse" class="hidden-xs">
                            <em class="icon-user"></em>
                         </a>
                      </li>
                      <!-- END User avatar toggle-->
{#                      <!-- START lock screen-->#}
{#                      <li>#}
{#                         <a href="lock.html" title="Lock screen">#}
{#                            <em class="icon-lock"></em>#}
{#                         </a>#}
{#                      </li>#}
                      <!-- END lock screen-->
                   </ul>
                   <!-- END Left navbar-->
                   <!-- START Right Navbar-->
                   <ul class="nav navbar-nav navbar-right">

                      <!-- Fullscreen (only desktops)-->
                      <li class="visible-lg">
                         <a href="#" data-toggle-fullscreen="">
                            <em class="fa fa-expand"></em>
                         </a>
                      </li>
                      <li class="">
                         <a href="/logout/">
                            <em class="fa icon-logout"></em>
                         </a>
                      </li>

                   </ul>
                   <!-- END Right Navbar-->
                </div>
                <!-- END Nav wrapper-->
                <!-- START Search form-->
                <form role="search" action="search.html" class="navbar-form">
                   <div class="form-group has-feedback">
                      <input type="text" placeholder="Type and hit enter ..." class="form-control">
                      <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
                   </div>
                   <button type="submit" class="hidden btn btn-default">Submit</button>
                </form>
                <!-- END Search form-->
             </nav>
             <!-- END Top Navbar-->
            </header>

            <!-- sidebar-->
            <aside class="aside">
                <!-- START Sidebar (left)-->
                <div class="aside-inner">
                    <nav class="sidebar">
                       <!-- START sidebar nav-->
                       <ul class="nav">
                          <!-- START user info-->
                          <li class="has-user-block">
                             <div id="user-block" class="collapse">
                                <div class="item user-block">
                                   <!-- User picture-->
                                   <div class="user-block-picture">
                                      <div class="user-block-status">
                                         <img src="{% static 'images/user/02.jpg' %}" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
                                         <div class="circle circle-success circle-lg"></div>
                                      </div>
                                   </div>
                                   <!-- Name and Job-->
                                   <div class="user-block-info">
                                      <span class="user-block-name">Hello, {{ user.first_name }}</span>
                                      <span class="user-block-role">{{ user.get_role_display }}</span>
                                   </div>
                                </div>
                             </div>
                          </li>
                          <!-- END user info-->
                          <!-- Iterates over all sidebar items-->
{#                         <li class=" active" data-nav-id="dashboard/">#}
{#                             <a href="/dashboard/" title="Dashboard">#}
{#                                <em class="icon-grid"></em>#}
{#                                <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>#}
{#                             </a>#}
{#                          </li>#}

                         <li class="">
                             <a href="#content-media-section" title="Content/Media" data-toggle="collapse">
                                <em class="fa icon-folder-alt"></em>
                                <span data-localize="sidebar.nav.users_section">Content / Media</span>
                             </a>
                             <ul id="content-media-section" class="nav sidebar-subnav collapse">
{#                                 <li class="sidebar-subnav-header">Regions</li>#}

                                 <li class="">

                                    <a href="#assets-section" title="Assets" data-toggle="collapse">
                                        <em class="fa fa-upload"></em>
                                        <span data-localize="sidebar.nav.users_section">Assets</span>
                                    </a>

                                    <ul id="assets-section" class="nav sidebar-subnav subnav-l2 collapse">
                                        <li class="sidebar-subnav-header">Assets</li>
                                        <li class=" " data-nav-id="asset/add/">
                                           <a href="/asset/add/" title="Add Assets">
                                              <em></em>
                                              <span >Add Assets</span>
                                           </a>
                                        </li>
                                        <li class=" " data-nav-id="asset/list/">
                                           <a href="/asset/list/" title="All Assets">
                                              <em></em>
                                              <span>All Assets</span>
                                           </a>
                                        </li>
                                    </ul>

                                 </li>

{#                                 <li class="sidebar-subnav-header">Distributors</li>#}

                                 <li class="">

                                    <a href="#slides-section" title="Slides" data-toggle="collapse">
                                        <em class="fa fa-file-picture-o"></em>
                                        <span data-localize="sidebar.nav.users_section">Slides</span>
                                     </a>

                                     <ul id="slides-section" class="nav sidebar-subnav subnav-l2 collapse">
                                        <li class="sidebar-subnav-header">Slides</li>
                                        <li class=" " data-nav-id="slide/add/">
                                           <a href="/slide/add/" title="Add Slide">
                                              <em></em>
                                              <span >Add Slide</span>
                                           </a>
                                        </li>
                                        <li class="active" data-nav-id="slide/list/">
                                           <a href="/slide/list/" title="All Slides">
                                              <em></em>
                                              <span>All Slides</span>
                                           </a>
                                        </li>
                                     </ul>

                                 </li>

                             </ul>
                         </li>

                          <li class=" ">
                             <a href="#presentations-section" title="Slideshows" data-toggle="collapse">
                                <em class="fa fa-play"></em>
                                <span data-localize="sidebar.nav.users_section">Slideshows</span>
                             </a>
                             <ul id="presentations-section" class="nav sidebar-subnav collapse">
                                <li class="sidebar-subnav-header">Slideshows</li>
                                <li class=" " data-nav-id="presentation/add/">
                                   <a href="/presentation/add/" title="Add Slideshow">
                                      <em></em>
                                      <span >Add Slideshow</span>
                                   </a>
                                </li>
                                <li class=" " data-nav-id="presentation/list/">
                                   <a href="/presentation/list/" title="All Slideshows">
                                      <em></em>
                                      <span>All Slideshows</span>
                                   </a>
                                </li>

                             </ul>
                         </li>
                         <li class=" ">
                             <a href="#brands-section" title="Brands" data-toggle="collapse">
                                <em class="fa fa-certificate"></em>
                                <span data-localize="sidebar.nav.users_section">Brands</span>
                             </a>
                             <ul id="brands-section" class="nav sidebar-subnav collapse">
{#                                <li class="sidebar-subnav-header">Brands</li>#}

                                <li class=" " data-nav-id="brand/add/">
                                   <a href="/brand/add/" title="Add Brand">
                                      <em class=""></em>
                                      <span >Add Brand</span>
                                   </a>
                                </li>

                                <li class=" " data-nav-id="brand/list/">
                                   <a href="/brand/list/" title="All Brands">
                                      <em class=""></em>
                                      <span >All Brands</span>
                                   </a>
                                </li>
                                 {% for brand in brand_list %}

                                    <li class=" ">
                                         <a href="#brand-section-{{ brand.id }}" title="Brand {{ brand.title }}" data-toggle="collapse">
                                            <em class="fa fa-database"></em>
                                            <span data-localize="sidebar.nav.users_section">{{ brand.title }}</span>
                                         </a>
                                         <ul id="brand-section-{{ brand.id }}" class="nav sidebar-subnav subnav-l2 collapse">

                                             <li class=" " data-nav-id="brand/profile/">
                                               <a href="/brand/list/{{ brand.id }}" title="View Profile">
                                                  <em class=""></em>
                                                  <span>View Profile</span>
                                               </a>
                                            </li>

                                            <li class=" " data-nav-id="brand/list/{{ brand.id }}/range/add/">
                                               <a href="/brand/list/{{ brand.id }}/range/add/" title="Add Range">
                                                  <em></em>
                                                  <span >Add Range</span>
                                               </a>
                                            </li>

                                             <li class=" " data-nav-id="brand/list/{{ brand.id }}/sku/add/">
                                               <a href="/brand/list/{{ brand.id }}/sku/add/" title="Add SKU">
                                                  <em></em>
                                                  <span >Add SKU</span>
                                               </a>
                                            </li>

                                         </ul>
                                     </li>

                                 {% endfor %}

                             </ul>
                         </li>

{#                         <li class=" ">#}
{#                             <a href="#presentations-section" title="Slideshows" data-toggle="collapse">#}
{#                                <em class="fa fa-play"></em>#}
{#                                <span data-localize="sidebar.nav.users_section">Slideshows</span>#}
{#                             </a>#}
{#                             <ul id="presentations-section" class="nav sidebar-subnav collapse">#}
{#                                <li class="sidebar-subnav-header">Slideshows</li>#}
{#                                <li class=" " data-nav-id="presentation/add/">#}
{#                                   <a href="/presentation/add/" title="Add Slideshow">#}
{#                                      <em></em>#}
{#                                      <span >Add Slideshow</span>#}
{#                                   </a>#}
{#                                </li>#}
{#                                <li class=" " data-nav-id="presentation/list/">#}
{#                                   <a href="/presentation/list/" title="All Slideshows">#}
{#                                      <em></em>#}
{#                                      <span>All Slideshows</span>#}
{#                                   </a>#}
{#                                </li>#}
{##}
{#                             </ul>#}
{#                         </li>#}

                          <li class=" ">
                             <a href="#countries-section" title="Countries" data-toggle="collapse">
                                <em class="fa fa-globe"></em>
                                <span data-localize="sidebar.nav.users_section">Countries</span>
                             </a>
                             <ul id="countries-section" class="nav sidebar-subnav collapse">
{#                                 <li class="sidebar-subnav-header">Regions</li>#}

                                 <li class="">

                                    <a href="#regions-section" title="Countries" data-toggle="collapse">
                                        <em class="fa icon-map"></em>
                                        <span data-localize="sidebar.nav.users_section">Countries</span>
                                    </a>

                                    <ul id="regions-section" class="nav sidebar-subnav subnav-l2 collapse">
                                        <li class="sidebar-subnav-header">Countries</li>
                                        <li class=" " data-nav-id="country/add/">
                                           <a href="/country/add/" title="Add Country">
                                              <em></em>
                                              <span >Add Country</span>
                                           </a>
                                        </li>
                                        <li class=" " data-nav-id="country/list/">
                                           <a href="/country/list/" title="All Countries">
                                              <em></em>
                                              <span>All Countries</span>
                                           </a>
                                        </li>

                                         {% for country in country_list %}

                                            <li class=" ">
                                                 <a href="#country-section-{{ country.id }}" title="Country {{ country.title }}" data-toggle="collapse">
                                                    <em class="fa fa-database"></em>
                                                    <span data-localize="sidebar.nav.users_section">{{ country.title }}</span>
                                                 </a>
                                                 <ul id="country-section-{{ country.id }}" class="nav sidebar-subnav subnav-l2 collapse">

                                                     <li class=" " data-nav-id="country/list/{{ country.id }}/">
                                                       <a href="/country/list/{{ country.id }}/" title="View Profile">
                                                          <em class=""></em>
                                                          <span>View Profile</span>
                                                       </a>
                                                    </li>
{#            #}
                                                    <li class=" " data-nav-id="country/list/{{ country.id }}/state/add/">
                                                       <a href="/country/list/{{ country.id }}/state/add/" title="Add State/Province">
                                                          <em></em>
                                                          <span >Add State/Province</span>
                                                       </a>
                                                    </li>

                                                 </ul>
                                             </li>

                                         {% endfor %}

                                    </ul>

                                 </li>

{#                                 <li class="sidebar-subnav-header">Distributors</li>#}

                                 <li class="">

                                    <a href="#distributors-section" title="Distributors" data-toggle="collapse">
                                        <em class="fa icon-bubbles"></em>
                                        <span data-localize="sidebar.nav.users_section">Distributors</span>
                                     </a>

                                     <ul id="distributors-section" class="nav sidebar-subnav subnav-l2 collapse">
                                        <li class="sidebar-subnav-header">Distributors</li>
                                        <li class=" " data-nav-id="distributor/add/">
                                           <a href="/distributor/add/" title="Add Distributor">
                                              <em></em>
                                              <span >Add Distributor</span>
                                           </a>
                                        </li>
                                        <li class=" " data-nav-id="distributor/list/">
                                           <a href="/distributor/list/" title="All Distributors">
                                              <em></em>
                                              <span>All Distributors</span>
                                           </a>
                                        </li>
                                     </ul>

                                 </li>

                             </ul>
                         </li>

                          <li class=" ">
                             <a href="#users-section" title="Users" data-toggle="collapse">
                                <em class="icon-user"></em>
                                <span data-localize="sidebar.nav.users_section">Users</span>
                             </a>
                             <ul id="users-section" class="nav sidebar-subnav collapse">
                                <li class="sidebar-subnav-header">Users</li>
                                <li class=" " data-nav-id="user/add/">
                                   <a href="/user/add/" title="Add User">
                                      <em></em>
                                      <span >Add User</span>
                                   </a>
                                </li>
                                <li class=" " data-nav-id="user/list/">
                                   <a href="/user/list/" title="All Users">
                                      <em></em>
                                      <span>All Users</span>
                                   </a>
                                </li>

                             </ul>
                         </li>

                       </ul>
                       <!-- END sidebar nav-->
                    </nav>
                </div>
                <!-- END Sidebar (left)-->
            </aside>

            <!-- Main section-->
            <section>
                 <!-- Page content-->
                 <div class="content-wrapper">
                    <div class="content-heading">
                       <!-- START Language list-->
{#                        <div class="pull-right">#}
{#                            <div class="btn-group">#}
{#                                <button type="button" data-toggle="dropdown" class="btn btn-default">English</button>#}
{#                                <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">#}
{#                                    <li><a href="#" data-set-lang="en">English</a>#}
{#                                    </li>#}
{#                                    <li><a href="#" data-set-lang="es">Spanish</a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
                        <!-- END Language list    -->
                        {% block content_title %}
                            Dashboard
                        {% endblock %}

                        <small data-localize="dashboard.WELCOME"></small>
                    </div>

                     <!-- START widgets box-->
                    {% block content %}


                    {% endblock %}
                    <!-- END widgets box-->

                 </div>
            </section>

            <!-- Page footer-->
            <footer>
                <span>&copy; 2015 - McWilliams Wine</span>
            </footer>

        </div>

        <!-- =============== VENDOR SCRIPTS ===============-->
        <!-- MODERNIZR-->
        <script src="{% static 'js/external/modernizr/modernizr.js' %}?v={% random_number %}"></script>
        <!-- JQUERY-->
        <script src="{% static 'js/external/jquery/jquery.js' %}?v={% random_number %}"></script>
        <!-- JQUERY UI-->
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <!-- BOOTSTRAP-->
        <script src="{% static 'js/external/bootstrap/bootstrap.js' %}?v={% random_number %}"></script>
        <!-- BOOTSTRAP MODAL EXT-->
        <script src="{% static 'js/external/bootstrap/bootbox.min.js' %}?v={% random_number %}"></script>
        <!-- BOOTSTRAP NOTIFY-->
        <script src="{% static 'js/external/bootstrap/bootstrap-notify.min.js' %}?v={% random_number %}"></script>
        <!-- BOOTSTRAP FILE INPUT DESIGNER-->
        <script src="{% static 'js/external/bootstrap/bootstrap.file-input.js' %}?v={% random_number %}"></script>
        <!-- STORAGE API-->
        <script src="{% static 'js/external/jQuery-Storage-API/jquery.storageapi.js' %}?v={% random_number %}"></script>
        <!-- JQUERY EASING-->
        <script src="{% static 'js/external/jquery.easing/jquery.easing.js' %}?v={% random_number %}"></script>
        <!-- ANIMO-->
        <script src="{% static 'js/external/animo/animo.js' %}?v={% random_number %}"></script>
        <!-- SLIMSCROLL-->
        <script src="{% static 'js/external/slimScroll/jquery.slimscroll.min.js' %}?v={% random_number %}"></script>
        <!-- SCREENFULL-->
        <script src="{% static 'js/external/screenfull/screenfull.js' %}?v={% random_number %}"></script>
        <!-- LOCALIZE-->
        <script src="{% static 'js/external/jquery-localize-i18n/jquery.localize.js' %}?v={% random_number %}"></script>
        <!-- RTL demo-->
        <script src="{% static 'js/external/demo/demo-rtl.js' %}?v={% random_number %}"></script>
        <!-- SPARKLINE-->
        <script src="{% static 'js/external/sparklines/jquery.sparkline.min.js' %}?v={% random_number %}"></script>
        <!-- CLASSY LOADER-->
        <script src="{% static 'js/external/jquery-classyloader/jquery.classyloader.min.js' %}?v={% random_number %}"></script>
        <!-- MOMENT JS-->
        <script src="{% static 'js/external/moment/moment-with-locales.min.js' %}?v={% random_number %}"></script>
        <!-- SKYCONS-->
        <script src="{% static 'js/external/skycons/skycons.js' %}?v={% random_number %}"></script>
        <!-- DEMO-FLOT-->
        <script src="{% static 'js/external/demo/demo-flot.js' %}?v={% random_number %}"></script>
        <!-- PARSLEY-->
        <script src="{% static 'js/external/parsleyjs/parsley.remote.min.js' %}?v={% random_number %}"></script>
        <script src="{% static 'js/external/parsleyjs/parsley.min.js' %}?v={% random_number %}"></script>
        <!-- DATETIME PICKER-->
        <script src="{% static 'js/external/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js'%}?v={% random_number %}"></script>

        <!-- DATATABLES-->
        <script src="{% static 'js/external/datatables/jquery.dataTables.min.js' %}?v={% random_number %}"></script>
        <script src="{% static 'js/external/datatables-colvis/dataTables.colVis.js' %}?v={% random_number %}"></script>
        <script src="{% static 'js/external/datatable-bootstrap/dataTables.bootstrap.js' %}?v={% random_number %}"></script>
        <script src="{% static 'js/external/datatable-bootstrap/dataTables.bootstrapPagination.js' %}?v={% random_number %}"></script>
        <script src="{% static 'js/external/datatables/fnReloadAjax.js' %}?v={% random_number %}"></script>

        <!-- EASYTREE-->
        <script src="{% static 'js/external/jquery-easytree/jquery.easytree.min.js' %}?v={% random_number %}"></script>

        <!-- =============== MENU NAVIGATION ===============-->
        <script src="{% static 'js/menu-navigation.js' %}?v={% random_number %}"></script>
        <!-- CHOSEN-->
        <script src="{% static 'js/external/chosen_v1.2.0/chosen.jquery.min.js' %}?v={% random_number %}"></script>
        <!-- TO JSON-->
        <script src="{% static 'js/external/jquery-json/jquery.json-2.3.min.js' %}?v={% random_number %}"></script>
        <!-- BLOCK UI-->
        <script src="{% static 'js/external/jquery-blockui/jquery.blockUI.js' %}?v={% random_number %}"></script>
        <!-- jquery-waitforimages -->
        <script src="{% static 'js/external/jquery-waitforimages/jquery.waitforimages.min.js' %}?v={% random_number %}"></script>
        <!-- =============== APP SCRIPTS ===============-->
        <script src="{% static 'js/my_custom.js' %}?v={% random_number %}"></script>

        <!-- =============== APP SCRIPTS ===============-->
        <script src="{% static 'js/app.js' %}?v={% random_number %}"></script>

        {% block extra_scripts %}{% endblock %}

    </body>
</html>