.wrapper > section{
    /*min-height: 100%;*/
    height: auto !important;
}
select{
    cursor: pointer;
}
.fa-remove{
    cursor: pointer;
    color: #f05050;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

/*[data-notify="container"] {*/
	/*z-index: 1051 !important;*/
/*}*/

.fa-edit{
    cursor: pointer;
    /*color: #23b7e5;*/
}

td .fa-edit{
    margin-right: 10px;
}
.subnav-l2{
    padding-left: 15px;
}

.noresize{
    resize: none;
}

.alert{
    font-size: 16px;
}

/*#ranges-datatable_wrapper .dataTables_filter input[type="search"]{*/
    /*width: 160px !important;*/
/*}*/

#skus-datatable_wrapper .dataTables_filter input[type="search"]{
    width: 160px !important;
}

#dropzone {
    background: #27c24c;
    /*width: 300px;*/
    height: 100px;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#dropzone.in {
    /*width: 600px;*/
    height: 200px;
    line-height: 200px;
    font-size: larger;
}
#dropzone.hover {
    background: #6fd46f;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
.wide{
    width: 100%;
}

.drag-placeholder {
    height: 60px;
    width: 60px;
    background-color: yellow;
}

.wysihtml5-toolbar .fa{
    padding: 3px 0;
}

iframe{
    width: 100% !important;
    padding: 5px 2px !important
}
iframe body{

    background-color: rgb(245, 245, 245) !important;
}
.wysiwyg-color-black{
  color: black !important;
}

.wysiwyg-color-silver{
  color: grey !important;
}
#slide_preview .wysiwyg-color-silver{
  color: white !important;
}

.wysiwyg-color-gray{
  color: gray !important;
}

.wysiwyg-color-maroon{
  color: maroon !important;
}

.wysiwyg-color-red{
  color: red !important;
}

.wysiwyg-color-purple{
  color: purple !important;
}

.wysiwyg-color-green{
  color: green !important;
}

.wysiwyg-color-olive {
  color: olive !important;
}

.wysiwyg-color-navy{
  color: navy !important;
}

.wysiwyg-color-blue{
  color: blue !important;
}

.wysiwyg-color-orange{
  color: #F6A32B !important;
}

.ui-draggable-dragging{
    border: 1px solid lightgray;
}

#slide_preview{
    max-width: 1084px;
}
#slide_preview li{
    list-style-position: inside;
}
.itb-list {
    padding-left: 40px;
    /*padding-left: 20px;*/
    padding-bottom: 15px;
    line-height: 150%;
}
.itb-list-item {
    white-space: nowrap;
}
.itb-list-item-content {
    white-space: normal;
}
.itb-list-item-content span{
    line-height: inherit !important;
}
.itb-list-item-prefix,
.itb-list-item-content {
    display: inline-block;
}
.itb-list-item-prefix {
    /*float: left;*/
    font-size: 52px;
    /*font-size: 300%;*/
    font-family: sans-serif !important;
    /*height: 100%;*/
    /*line-height: 0px;*/
    vertical-align: top;
    /*float: left;*/
}

.background_contain{
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.background_cover{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}
.relative{
    position: relative;
}

.slide_preview h2{
    font-size: 32px !important;
   /*font-family: "Avenir-Black" !important;*/
    /*font-family: 'Nunito', sans-serif;*/
   /*font-weight: 300!important;*/
}
.slide_preview{
    color: black;
    max-width: 100%;
    width: 1024px;
    height:768px;
    z-index: 0;
    overflow: hidden;
}
#slide_elements label{
    /*font-size: 18px;*/
}

#slide_elements textarea{
    width: 100%;
    height: 150px;
}
.text_placeholder{
    /*border: 1px dashed black;*/
    width:100%;
    height:100%;
}
.wysiwyg-font-size-10 {
    font-size: 10px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-12 {
    font-size: 12px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-14 {
    font-size: 14px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-16 {
    font-size: 16px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-18 {
    font-size: 18px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-20 {
    font-size: 20px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-22 {
    font-size: 22px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-24 {
    font-size: 24px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-26 {
    font-size: 26px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-28 {
    font-size: 28px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-30 {
    font-size: 30px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-32 {
    font-size: 32px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-34 {
    font-size: 34px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-36 {
    font-size: 36px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-38 {
    font-size: 38px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-40 {
    font-size: 40px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-42 {
    font-size: 42px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-44 {
    font-size: 44px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-46 {
    font-size: 46px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-48 {
    font-size: 48px;
    /*line-height: 150%;*/
}
.wysiwyg-font-size-50 {
    font-size: 50px;
    /*line-height: 150%;*/
}

.font-size{
    padding-right: 10px;
}
.itb-list-item-content{
    line-height: 150%;
}
.child-1{
    padding-left: 20px !important;
    /*font-weight: bold;*/
}
.child-2{
    padding-left: 40px !important;;
    /*font-weight: bold;*/
}
.child-3{
    padding-left: 60px !important;;
}
.blueimp-gallery>.prev, .blueimp-gallery>.next{
    border: none !important;
}
.table-cell {
    /*height: 200px;*/
    /*width: 200px;*/
    /*vertical-align: middle;*/
    /*background: #eee;*/
    display: table-cell;
}
.font-color-btn{
    float: left;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    padding: 0 18px;
}
#slide_preview blockquote{
    font-size: inherit !important;
    border: none !important;
}
.slide_actions em{
    margin-right: 10px;
    cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result{
    color: inherit;
    font-weight: bold;
}
.tooltip-inner{
    max-width: 1000px !important;
}

@media (min-width: 1024px) {
  .medium .modal-dialog {
    width: 1000px;
    margin: 30px auto;
  }
}

.bootbox #fileupload{
    padding: 0 15px;
}

.bootbox.modal {
  z-index: 1051 !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}
.modal-dialog {
    z-index: 1052;
}


.table_actions em{
    margin-right: 10px;
    cursor: pointer;
}

.fa-download{
    color: rgb(0, 210, 0);
}

.easytree-container{
    height: 60% !important;
}
.asset_clear{
    margin-left: 10px;
    font-size: 20px;
    vertical-align: middle;
}

/*.with_close{*/
    /*content: '<span>X</span>';*/
    /*margin-left: 10px;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*display: inline-block;*/
/*}*/
/*.btn-file {*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.btn-file input[type=file] {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*font-size: 100px;*/
    /*text-align: right;*/
    /*filter: alpha(opacity=0);*/
    /*opacity: 0;*/
    /*outline: none;*/
    /*background: white;*/
    /*cursor: inherit;*/
    /*display: block;*/
/*}*/